<button id="BarraCargando" class="btn btn-info btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> CARGANDO CLUB
</button>


<div id="detalleClub" style="display: none">
    <center>

        <div class="main-raised" style="margin-left: 0px;margin-right: 0px;">

            <img
                    style="max-height: 450px;
             transform: perspective(1350px);
             border-radius: 5px;
             box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
         display: block;
         width: 100% !important;"
                    class="height-auto full-width"

                    src="{{club.clubLogo}}">

        </div>

        <br>

        <div style="color: #340034">
            <font size="5"><strong>{{club.name}}</strong></font>
            <br>
            <p style="font-size: 20px;" class="teststyle">
                <i class="material-icons testico">location_on</i>
                {{club.address}}
            </p>
        </div>

        <br>
        <hr class="hrStyle">
        <br>
        <div ng-show="eventsItems == 0" style="color: #340034" class="col-md-12">
            <font size="5">Este club no tiene eventos actualmente.</font>

        </div>

        <div ng-show="eventsItems" class="col-md-12">
            <font style="color: #340034" size="5"><strong>Eventos</strong></font>
            <br>
            <br>
            <div class="col-md-4"
                 ng-repeat="event in events | orderBy:'date' "
                 ng-click="goEvent(event)"
                 ng-show="event.visible">

                <div class="testcard">


                    <img height="167" width="450" class="testimage" src="{{event.image}}">

                    <span class="testfecha text-capitalize">
                        {{event.date | date:"EEEE dd', 'MMMM " }}
                    </span>

                    <div class="testcontenido">
                        <p class=testh2"><strong>{{event.name}}</strong></p>
                        <p class="teststyle"><i class="material-icons testico">alarm</i> {{event.date | date:"HH:MM" }}
                            hasta
                            {{event.toHour | date:"HH:MM" }}</p>

                        <p class="teststyle"><i class="material-icons testico">music_note</i> {{event.musicGenres}}</p>
                        <p class="teststyle"><i class="material-icons testico">layers</i> {{event.eventEnvironment}}</p>
                    </div>

                    <div class="testfooter">
                        <p class="testboton btn " ng-show="event.freemiumHour == event.date"> CPL
                            ${{event.entryValue | number:0 }}</p>
                        <p class="testboton btn " ng-show="event.freemiumHour != event.date">
                            GRATIS</p>


                    </div>

                </div>
            </div>

        </div>


        <br>
        <hr class="hrStyle ">
        <br>

        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <p style="font-size: 15px; color: #340034" class="teststyle">
                {{club.description}}
            </p>
        </div>
        <br>
        <br>
        <div class="features row">
            <center>
                <div class="col-md-10 col-md-offset-4 col-xs-offset-2 col-xs-10">
                    <div class="col-md-2 col-xs-8  player-card2">
                        <div class="icon ">
                            <i class="material-icons" style="font-size: 40px">music_note</i>
                        </div>
                        <div class="card-body">
                            <h4>Estilo Musical</h4>
                            <p>
                                {{club.clubMusic}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-8  player-card2">
                        <div class="icon ">
                            <i class="material-icons" style="font-size: 40px">layers</i>
                        </div>
                        <div class="card-body">
                            <h4>Ambientes</h4>
                            <p>
                                {{club.clubEnvironment}}
                            </p>
                        </div>
                    </div>
                </div>

            </center>
        </div>

        <br>
        <hr class="hrStyle ">
        <br>

        <!--<div ng-show="instaItems">


        //////////////////////
        INSTAGRAM COMENTADO POR COMPORTAMIENTO WEON
        /////////////////
            <h4 class="info-title">GALERIA INSTAGRAM {{ instagramIdTitle }}</h4>
            <div class="row1">
                <div class="row__inner1">

                    <div class="tile" ng-repeat="item in instagramItems">
                        <a ng-href="{{item.link}}" target="_blank">
                            <div class="tile__media">
                                <img class="tile__img" data-ng-src="{{ item.images.standard_resolution.url }}"
                                     alt=""/>
                            </div>
                            <div class="tile__details">
                                <div class="tile__title truncate">
                                    {{ item.caption.text }}
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <hr class="hrStyle col-md-12">
        <br>-->

        <div class="col-md-12">

            <h3 class="info-title" style="color: #340034">Como llegar</h3>

            <br>

            <ng-map center="[{{club.latitude}},{{club.longitude}}]"
                    zoom="14"
                    disable-default-u-i="true"
                    scrollwheel="false"
                    default-style="true"

            >
                <marker
                        id="foo"
                        centered="true"

                        title="{{getClub(event.clubs)}}"
                        on-click="map.showInfoWindow('bar')"
                        position="{{club.latitude}},{{club.longitude}}">
                </marker>
                <info-window id="bar" visible-on-marker="foo">
                    <a href="https://www.google.com/maps/place/{{club.latitude}},{{club.longitude}}" target="_blank">
                        <h6 style="color: #340034">{{club.address}}</h6>
                    </a>
                </info-window>
            </ng-map>
            <div class="mdl-cell mdl-color--white  mdl-cell--10-col mdl-cell--12-col-phone">
                #El club se reserva el derecho de admisión#
            </div>


        </div>

    </center>
</div>