
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Editar Perfil -
                    <small class="category">Complete su perfil</small>
                </h4>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Nombre</label>
                                <input type="text" class="form-control" ng-model="adminLogeado.firstName" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Apellido</label>
                                <input type="text" class="form-control" ng-model="adminLogeado.lastName" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Correo Electronico</label>
                                <input type="email" class="form-control" ng-model="adminLogeado.email" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">NickName</label>
                            <input type="email" class="form-control" ng-model="adminLogeado.nickName">
                        </div>

                    </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Celular</label>
                                <input type="email" class="form-control" ng-model="adminLogeado.celular">
                            </div>
                        </div>
                    </div>

                    <button  class="btn btn-rose pull-right" ng-click="actualizarNickName()">ACTUALIZAR</button>
                    <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="{{adminLogeado.picture}}" />
                </a>
            </div>
            <div class="card-content">
                <h6 class="category text-gray">Productor</h6>
                <h4 class="card-title">Clubs en los que trabajas</h4>
                <p class="description" ng-repeat="club in adminLogeado.clubs">
                    {{club.nombre}} -eliminar-

                </p>
                <a href="#pablo" class="btn btn-rose btn-round">Agregar Club</a>
            </div>
        </div>
    </div>

    <div ng-show="adminLogeado.cuentaBancaria" class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Cuenta Bancaria
                    <small class="category"></small>
                </h4>



                <div class="row">

                    <div class="col-md-2">
                        <p class="description">
                            {{cuentaBancaria.banco}}

                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="description">
                            {{cuentaBancaria.tipoDeCuenta}}

                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="description">
                            {{cuentaBancaria.rut}}

                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="description">
                            {{cuentaBancaria.numeroCuenta}}

                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="description">
                            {{cuentaBancaria.nombre}}

                        </p>
                    </div>

                    <div class="col-md-1">
                        <button  class="btn btn-rose pull-right" data-ng-click="actualizarClub()">ACTUALIZAR</button>
                        <div class="clearfix"></div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <div ng-show="!adminLogeado.cuentaBancaria " class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Cuenta Bancaria -
                    <small class="category">Complete su cuenta bancarea para realizar los depositosrfil</small>
                </h4>



                <div class="row">
                    <div class="col-md-6">
                        <select  class="col-md-12" ng-model="cuentaBancaria.banco">
                            <option value=""> Seleccionar banco</option>
                            <option value="Banco Estado">Banco Estado </option>
                            <option value="Banco BBVA">Banco BBVA</option>
                            <option value="Banco Santander">Banco Santander</option>
                        </select>
                    </div>
                    <div class="col-md-6">

                        <select  class="col-md-12" ng-model="cuentaBancaria.tipoDeCuenta">
                            <option value=""> Tipo de cuenta</option>
                            <option value="Cuenta Corriente">Cuenta Corriente </option>
                            <option value="Cuenta Rut">Cuenta Rut</option>
                            <option value="Cuenta Vista">Cuenta Vista</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Nombre completo</label>
                            <input type="text" class="form-control" ng-model="cuentaBancaria.nombre" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Numero de cuenta</label>
                            <input type="text" class="form-control" ng-model="cuentaBancaria.numeroCuenta" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Rut</label>
                            <input type="text" class="form-control" ng-model="cuentaBancaria.rut">
                        </div>
                    </div>
                </div>
                {{cuentaBancaria}}

                <button  class="btn btn-rose pull-right" ng-click="actualizarPerfil()">ACTUALIZAR</button>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>