<center>
    <button id="BarraCargando" class="btn btn-primary btn-lg "><i class="fa fa-circle-o-notch fa-spin"></i>Cargando Eventos
    </button>
    <div style="display: none" id="noHayEventos">
        <p>Actualmente no hay eventos futuros.</p>
    </div>
</center>


<div class="row">
    <div class="col-md-4" ng-repeat="event in eventsWithServices | orderBy:'date'"
         ng-show="event.toHour < eventosPasadosFecha">
        <div class="card card-product">
            <div class="card-image" data-header-animation="true">
                <img class="img" style="height: 150px; transform: perspective(1350px);" src="{{event.image}}">
                <p class="card-title" style="text-overflow: ellipsis!important; text-transform: capitalize!important;">{{event.name}}</p>
            </div>
            <div class="card-content">
                <div class="card-actions">
                    <button type="button" ng-click="goToEventPastDetails(event)" class="btn btn-default btn-simple hover"
                            rel="tooltip"
                            data-placement="bottom" title="Informe">
                        <i class="material-icons hover">timeline</i>
                    </button>
                    <!--  <button type="button" ng-click="editEvent(event)" class="btn btn-default btn-simple" rel="tooltip"
                              data-placement="bottom" title="Editar">
                          <i class="material-icons">edit</i>
                      </button> -->
                    <button type="button" ng-click="duplicateEvent(event)" class="btn btn-default btn-simple hover"
                            rel="tooltip"
                            data-placement="bottom" title="Duplicar">
                        <i class="material-icons hover">content_copy</i>
                    </button>
                    <button type="button" ng-click="verEvento(event)" target="_blank" class="btn btn-default btn-simple hover"
                            rel="tooltip"
                            data-placement="bottom" title="Ver">
                        <i class="fa fa-eye actionIcon "></i>
                    </button>
                </div>

                <div class="">
                    <div class="row" style="margin:0px!important">
                        <div class="stats pull-left">
                                    <span id="iconoReserva" class="category">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span>Total Asistentes</span>
                                    </span>
                        </div>
                        <span class="stats pull-right" style="font-weight: 600">9999</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p class="category" style="text-transform: capitalize">
                        <i class="material-icons">event</i>
                        {{event.date | date:"EEEE dd', 'MMMM"}}
                    </p>
                </div>
                <div class="stats pull-right">
                    <p class="category">
                        <i class="material-icons">alarm</i>
                        {{event.date | date:"HH:mm" }} - {{event.toHour | date:"HH:mm" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .hover:hover {
        color: #fe0072!important;
    }
</style>



