<center>
<a href="#!/event" class="btn btn-sm">SERVICIOS </a>
<a href="#!/puerta" class="btn btn-sm">PUERTA </a>
<a href="#!/listaGratis" class="btn btn-sm">LISTA GRATIS </a>
</center>
<input type="text" class="form-control" placeholder="Buscar por nombre"
       ng-keyup="filterEventsByText()" ng-model="filterNameInput"/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Servicios
                    <button style="float: right; margin: 0px 0px!important; top: 2px;"
                            class="btn btn-sm btn-success ">Leer QR
                    </button></h4>
                <p class="category"></p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>NOMBRE</th>
                    <th>CANTIDAD</th>
                    <th>ACCION</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticketObtenido in ticketsObtenidos">
                        <td>{{ticketObtenido.displayName}}</td>
                        <td class="text-primary">
                            {{ticketObtenido.cantidadUtilizada}} / {{ticketObtenido.cantidadDeCompra}}
                        </td>
                        <td><button class="btn btn-sm btn-info">
                            <i style="float: left;" class="material-icons">check</i>
                        </button></td>

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">LISTA DE RRPPS</h4>
                <p class="category"></p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>NOMBRE</th>
                    <th>AGREGAR</th>
                    <th>N°</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rrpp in rrpps">
                        <td>{{rrpp.name}}</td>
                        <td class="text-primary">
                        <p ng-click="AgregarPersonas(rrpp)" class="btn btn-sm btn-info">
                            <i class="material-icons">add</i>
                        </p>
                        </td>
                        <td>
                            0
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





<script id="dialogAgregarPersonas" type="text/ng-template"   >
    <md-dialog   aria-label="Confirmar Check In">
<center>
        <table class="table text-center">
            <thead class="text-primary text-center">
            <th>Tipo</th>
            <th>Valor </th>
            <th>Cantidad</th>
            </thead>
            <tbody>
            <tr>
                <td class="text-primary">Gratis H.</td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">Gratis  M.</td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">extra H. </td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">extra M. </td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">VIP H. </td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">VIP M.</td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            </tbody>
        </table>
    <button class="btn  "> X </button>
    <button class="btn btn-info "> GUARDAR </button>
</center>
    </md-dialog>

</script>
 -->