<center>
    <div style="background-color: white">
        <a href="#!/event" class="btn btn-sm">VENTAS </a>
        <a href="#!/puerta" class="btn btn-sm">INGRESOS </a>
        <a href="#!/listaGratis" class="btn btn-sm">LISTA GRATIS </a>
    </div>
</center>
<input type="text" class="form-control " placeholder="Buscar por nombre"
       ng-keyup="filterEventsByText()" ng-model="filterNameInput"/>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">VENTAS

                    <button data-ng-click="abrirLectorQr()" style="float: right; margin: 0px 0px!important; top: 2px;"
                            class="btn btn-sm btn-success ">Leer QR
                    </button>


                </h4>
                <p class="category"></p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th class="col-xs-6">NOMBRE</th>
                    <th style="margin-right: 100px">CANTIDAD</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="ticketObtenido in ticketsObtenidos" data-ng-click="cobrarServicio(ticketObtenido)">

                        <td>
                            {{ticketObtenido.firstName}}<br>
                            {{ticketObtenido.lastName}}
                            <br> <p class="description">{{ticketObtenido.tipoEventservices}} </p> </td>
                        <td>
                            {{ticketObtenido.cantidadUtilizada}} / {{ticketObtenido.cantidadDeCompra}}
                            <br>
                            <button ng-show="!ticketObtenido.paidOut"
                                    class="btn btn-sm btn-info">
                                $ {{(ticketObtenido.totalAPagar/ticketObtenido.cantidadDeCompra)*(ticketObtenido.cantidadDeCompra-ticketObtenido.cantidadUtilizada)}}
                            </button>
                            <button ng-show="ticketObtenido.paidOut"
                                    class="btn btn-sm btn-info">
                                PAGADO
                            </button>
                        </td>

                    </tr>

                    </tbody>
                </table>


            </div>

        </div>
        <a  data-ng-click="borrarQr()" ng-show="code != ''" style="float: left; margin: 0px 0px !important; top: 2px; "
            class="btn btn-sm btn-success col-md-12 "> X
        </a>
    </div>
</div>


<!--<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">LISTA DE RRPPS</h4>
                <p class="category"></p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>NOMBRE</th>
                    <th>AGREGAR</th>
                    <th>N°</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rrpp in rrpps">
                        <td>{{rrpp.name}}</td>
                        <td class="text-primary">
                        <p ng-click="AgregarPersonas(rrpp)" class="btn btn-sm btn-info">
                            <i class="material-icons">add</i>
                        </p>
                        </td>
                        <td>
                            0
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>




-->

<script id="dialogAbrirCode" type="text/ng-template"   >
    <md-dialog   aria-label="Confirmar Check In">
<center>
        <table class="table text-center">
            <thead class="text-primary text-center">
            <th>Tipo</th>
            <th>Valor </th>
            <th>Cantidad</th>
            </thead>
            <tbody>
            <tr>
                <td class="text-primary">Gratis H.</td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">Gratis  M.</td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">extra H. </td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">extra M. </td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">VIP H. </td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            <tr>
                <td class="text-primary">VIP M.</td>
                <td>
                    $ 0
                </td>
                <td>
                    <i ng-click="disminuir(product)" class="text-primary material-icons"  style="vertical-align: middle;">remove</i>
                    <font >&nbsp;&nbsp;0&nbsp;&nbsp;</font>
                    <i ng-click="aumentar(product)" class="text-primary material-icons"  style="vertical-align: middle;">add</i>
                </td>
            </tr>
            </tbody>
        </table>
    <button class="btn  "> X </button>
    <button class="btn btn-info "> GUARDAR </button>
</center>
    </md-dialog>

</script>

<script id="dialogCobrarServicio" type="text/ng-template" >
    <md-dialog   aria-label="Confirmar Check In"  >

        <center>
            <br>
            <img  class="fotoPerfilCodigo text-center" src="{{user.picture}}">
            <br>
            <h5>{{user.displayName}} </h5>
            <p>tickets Utilizados : {{ticketObtenido.cantidadUtilizada}}</p>
            <p> Habilitados : {{ingresosRestantes}} x {{ticketObtenido.tipoEventservices}} = $  {{ingresosRestantes*precioIndividual}}</p>

            <i  class="fa fa-mars"></i>
            <button class="btn btn-sm btn-info" data-ng-click="disminuirEntradasHombre(entradasHombre)">
                -
            </button>
            {{entradasHombre}}
            <button class="btn btn-sm btn-info" data-ng-click="aumentarEntradasHombre(entradasHombre,entradasMujer)">
                +
            </button>
            <br>
            <i class="fa fa-venus"></i>
            <button class="btn btn-sm btn-info" data-ng-click="disminuirEntradasMujer(entradasMujer)">
            -
        </button>
            {{entradasMujer}}
            <button class="btn btn-sm btn-info" data-ng-click="aumentarEntradasMujer(entradasHombre,entradasMujer)">
                +
            </button>
            <br>


            <div data-ng-show="!ticketObtenido.paidOut">
                total a pagar : {{(entradasMujer +entradasHombre)*precioIndividual}}
                <br>
                <md-checkbox  ng-click="obtenerTipoDePago('tarjeta')" ng-disabled="efectivo" ng-model="tarjeta" aria-label="Checkbox 1">
                    TARJETA
                </md-checkbox>
                <md-checkbox ng-click="obtenerTipoDePago('efectivo')" ng-disabled="tarjeta" ng-model="efectivo" aria-label="Checkbox 1">
                    EFECTIVO
                </md-checkbox>
            </div>
            <div data-ng-show="ticketObtenido.paidOut">
                ESTE TICKET YA ESTA PAGADO.
            </div>

        </center>

        <div class="text-right col-xs-offset-1">
             <button  data-ng-click="cancel()" class="btn btn-default btn-sm  col-xs-3"> x </button>
                <button data-ng-click="guardarEntrada()" class="btn btn-primary  btn-sm  col-xs-8"> APLICAR </button>

        </div>








    </md-dialog>

    <style>

        .fotoPerfilCodigo {
            width: 90px;
            height: 90px;
            border: 1px solid #fe0072;
            box-shadow: 1px 1px 5px 0 rgba(255,255,255,0.1);
            border-radius: 4px;
        }
    </style>

</script>
