<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">LISTA DE RRPPS</h4>
                <p class="category"></p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>NOMBRE</th>
                    <th>AGREGAR</th>
                    <th>N°</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rrpp in rrpps">
                        <td>{{rrpp.name}}</td>
                        <td class="text-primary">
                        <p class="btn btn-sm btn-info">
                            <i class="material-icons">add </i>
                        </p>
                        </td>
                        <td>
                            0
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<p class="btn  text-center btn-info" ng-click="abrirLectorQr()">  ABRIR LECTOR QR</p>

