<button id="BarraCargando" style="display: none" class="btn btn-info btn-lg">
    <i class="fa fa-circle-o-notch fa-spin"></i> SUBIENDO EVENTO
</button>


<div id="crearEvento">
    <div class="card">


        <!--  header  -->
        <div class=" fixado card-header-icon" data-background-color="rose">
            <button ng-click="grabarEvento()" class="btn btn-success pull-right">
                        <span class="btn-label">
                            <i class="material-icons">check</i>
                        </span>
                Publicar
            </button>
            <i style="font-size: 50px" class="material-icons">today</i>
        </div>


        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">With Floating Label</label>
                <input type="email" class="form-control">
            </div>
        </div>


        <form id="TypeValidation" class="form-horizontal" action="" method="">
            <!--  titulo evento  -->
            <div class="col-xs-12 padd-10-tb">
                <div class="form-group label-floating">
                    <label class="control-label">
                        Titulo del Evento
                        <star>*</star>
                    </label>
                    <input data-ng-model="newEvent.name" type="text" required="true" class="form-control">
                </div>
            </div>

            <!--  imagen  -->
            <div class="col-xs-12 padd-10-tb testMedia">
                <div class="cover-container col-xs-12 padd-10-tb ">
                    <div class="dropzone fileinput fileinput-new" data-download="true" data-ajax="false"
                         data-save="true" data-width="1350"
                         data-resize="true" data-originalsize="false" data-height="500" smaller="true"
                         data-editstart="true" style="height: auto; width: 100%;">

                        <input id="thumb" class=" thumb" name="thumb" type="file"
                               style="position: absolute;"
                               accept="image/x-png,image/gif,image/jpeg">
                    </div>

                </div>

            </div>


            <!--  fecha inicio  -->
            <div class="dropdown form-group dropdown-start-parent col-xs-12 padd-0-xs col-md-6">

                <a class="dropdown-toggle" id="dropdownStart" role="button"
                   data-toggle="dropdown" data-target="dropdown-start-parent">
                    <div class="input-group date">
                        <input type="text" class="form-control" placeholder="Fecha de Inicio"
                               data-ng-model="dateRangeStart">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar "></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="dateRangeStart"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                    data-on-set-time="startDateOnSetTime()"
                                    data-before-render="startDateBeforeRender($dates)">
                    </datetimepicker>
                </ul>
            </div>

            <!--  fecha termino  -->
            <div class="dropdown form-group dropdown-end-parent col-xs-12 padd-0-xs col-md-6">
                <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"
                   data-target=".dropdown-end-parent">
                    <div class="input-group date">
                        <input type="text" class="form-control" placeholder="Fecha de termino"
                               data-ng-model="dateRangeEnd">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="dateRangeEnd"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                    data-on-set-time="endDateOnSetTime()"
                                    data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                </ul>
            </div>


            <!--  descripcion evento  -->
            <div class="col-xs-12 padd-10-tb">
                <div class="form-group label-floating">
                    <label class="control-label"> Descripción del evento </label>
                    <textarea data-ng-model="newEvent.eventDetails" class="form-control"rows="5"></textarea>
                </div>
            </div>


            <!--  edad -->


            <div class="col-xs-12 padd-12-tb">

                <!--  edad mujeres-->
                <md-input-container class="dropdown col-xs-12 padd-0-xs col-sm-6">
                    <i style="float: left;" class="fa fa-venus" aria-hidden="true"></i>
                    <label>Edad mujeres</label>
                    <md-select class="dropdown-menu" ng-model="newEvent.ageRangeFemale">
                        <md-option><em>None</em></md-option>
                        <md-option ng-value="ageRange.$value" ng-repeat="ageRange in ageRanges">
                            +{{ageRange.$value}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--  edad hombres  -->
                <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                    <i style="float: left;" class="fa fa-mars"></i>
                    <label>Edad Hombres</label>
                    <md-select ng-model="newEvent.ageRangeMale">
                        <md-option><em>None</em></md-option>
                        <md-option ng-value="ageRange.$value" ng-repeat="ageRange in ageRanges">
                            +{{ageRange.$value}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <!--  vestimenta y genero -->
            <div class="col-xs-12 padd-12-tb">
                <!--  vestimenta  -->
                <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                    <i style="float: left;" class="material-icons">accessibility</i>
                    <label>Codigo de vestimenta</label>
                    <md-select ng-model="newEvent.clothing">
                        <md-option><em>None</em></md-option>
                        <md-option ng-value="close.name" ng-repeat="close in clothings">
                            {{close.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--  genero  -->
                <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                    <i style="float: left;" class="material-icons">music_note</i>
                    <label>Genero musical (max 3)</label>
                    <md-select class="musicalSelec" ng-model="newEvent.musicGenres" multiple
                               ng-change="allow3musicaGenres()">
                        <md-option class="music-options" ng-value="music.name"
                                   ng-repeat="music in musics"
                                   ng-show="music.visible == true">{{music.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>


            <!--  artista y ambiente -->
            <div class="col-xs-12 padd-12-tb">

                <!--  ambiente  -->
                <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                    <i style="float: left;" class="material-icons">layers</i>
                    <label>Ambiente (max 2)</label>
                    <md-select ng-model="newEvent.eventEnvironment" multiple
                               ng-change="allowUpTo2Ambiente()">
                        <md-option class="ambiente-option" ng-value="environment.name"
                                   ng-repeat="environment in environments">{{environment.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--  artista -->
                <div class="input-group ">
		            <span class="input-group-addon">
			            <i class="fa fa-headphones"></i>
		            </span>
                    <input type="text" ng-model="newEvent.djs" class="form-control" placeholder="Line UP">
                </div>
                <div class="input-group col-sm-6">
		            <span class="input-group-addon">
			            <i class="fa fa-usd"></i>
		            </span>
                    <input type="number" ng-model="newEvent.entryValue" class="form-control"
                           placeholder="Valor puerta">
                </div>
            </div>

            <!--  horario gratis -->
            <div class="col-xs-12 padd-12-tb">
                <div class="row">
                    <div class="col-md-6" style="margin-top: 25px">
                        <p class="text-center">
                            <strong>Agregar un horario gratis para todos los usuarios : </strong>
                            <md-checkbox
                                    ng-model="activarHoraGratis" ng-click="activarHoraGratisF()"
                                    aria-label="Checkbox 1"
                                    ng-click="accionVisibleDoorman(doorman)">
                            </md-checkbox>
                        </p>
                    </div>


                    <div ng-show="activarHoraGratis"
                         class="dropdown form-group dropdown-end-parent1 col-xs-12 padd-0-xs col-md-6">
                        <a class="dropdown-toggle" id="dropdownEndFree" role="button" data-toggle="dropdown"
                           data-target=".dropdown-end-parent1">
                            <div class="input-group date">
                                <input type="text" class="form-control" placeholder="Fecha de termino"
                                       data-ng-model="newEvent.freemiumHour">
                                <span class="input-group-addon"><i
                                        class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="newEvent.freemiumHour"
                                            data-datetimepicker-config="
                                            {
                                            dropdownSelector: '#dropdownEndFree',
                                            renderOn: 'start-date-changed',
                                            }"
                                            data-on-set-time="endDateOnSetTime()"
                                            data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                        </ul>
                    </div>
                </div>


            </div>


            <!--  antecipada  -->
            <div class="col-xs-12 col-md-12 text-center">


                <div class="card" style="background-color: #e4e4e4"
                     data-ng-repeat="servicioEvent in serviciosEvent">
                    <div style="background-color: {{servicioEvent.color}}; color: white"
                         class="card-header">
                        <strong>{{servicioEvent.tipo}}</strong>
                    </div>

                    <div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <input required="required" type="number"
                                       ng-model="servicioEvent.precio" placeholder="Precio"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input required="required" type="number"
                                       ng-model="servicioEvent.cantidad" placeholder="Cantidad"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input required="required" type="number"
                                       ng-model="servicioEvent.maxEntradas"
                                       placeholder="Max entradas por compra" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                                    <textarea ng-model="servicioEvent.desc" class="form-control"
                                                              placeholder="Descripción" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button"
                                   data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               data-ng-model="servicioEvent.fechaFin"
                                               placeholder="Fecha cierra servicio">
                                        <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-calendar">

                                                                </i>
                                                            </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="servicioEvent.fechaFin"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <button ng-click="removeChoice()"
                                    class=" btn  btn-default">
                                <i class="material-icons pointer btn_rsvp_trash">delete_forever</i><strong>BORRAR</strong>
                            </button>
                        </div>


                    </div>

                </div>


                <div class="col-xs-12 padd-0-xs text-center">
                    <STRONG>AÑADIR PROMOCION</STRONG>
                </div>


                <button style="float: none!important;"
                        class="col-md-2 col-xs-5 col-sm-6 centered btn btn-danger "
                        ng-click="addNewChoicePREVENTA()" ng-model="PREVENTA">
                    <i class="fa fa-ticket "></i>
                    PREVENTA
                </button>


                <button style="float: none!important;"
                        class="col-md-2 col-xs-5 col-sm-6 btn centered btn-success"
                        ng-click="addNewChoiceMESA()"
                        ng-model="MESA">
                    <i class=" material-icons ">local_play</i>
                    MESA
                </button>

                <button style="float: none!important;"
                        class=" col-md-2 col-xs-5 col-sm-6 centered btn btn-info"
                        ng-click="addNewChoiceBOTELLAS()" ng-model="PREVENTA">
                    <i class="fa fa-glass"></i>
                    BOTELLAS
                </button>

                <button style="float: none!important;"
                        class="col-md-2 col-xs-5 col-sm-6 btn centered btn-default"
                        ng-click="addNewChoiceVIP()"
                        ng-model="VIP">
                    <i class="fa fa-diamond"></i>
                    VIP
                </button>

                <button style="float: none!important;"
                        class="col-md-2 col-xs-5 col-sm-12 centered btn btn-warning"
                        ng-click="addNewChoiceESPECIAL()"
                        ng-model="ESPECIAL">
                    <i class=" material-icons ">stars</i>
                    ESPECIAL
                </button>


            </div>


        </form>


    </div>
</div>
<!--PRIMER PASO: Colocar dentro del tag HEAD -->


<!-- SEGUNDO PASO: Ver el ejemplo y copiar el formulario y las imágenes 'Guardar como...' -->


