<button id="BarraCargando" style="display: none" class="btn btn-info btn-lg">
    <i class="fa fa-circle-o-notch fa-spin"></i> SUBIENDO EVENTO
</button>


<div id="crearEvento" onload="$(this).scrollTop(0);">
    <div class="card col-md-12">

            <!--  header  -->
            <div class=" fixado card-header-icon" data-background-color="rose" style="position: sticky;">
                <button ng-click="grabarEvento()" class="btn btn-success pull-right">
                        <span class="btn-label">
                            <i class="material-icons">check</i>
                        </span>
                    Publicar
                </button>
                <i style="font-size: 50px" class="material-icons">today</i> <font size="2" > {{nombreClubHtml}}</font>
            </div>


            <!--  titulo evento  -->
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group label-floating">
                    <label class="">Título del evento</label>
                    <input data-ng-model="newEvent.name" required="true" placeholder="Elige un nombre distintivo." class="form-control ">

                </div>
            </div>

            <br>
            <br>
            <br>


            <!--  imagen  -->
            <div class="col-md-10 col-md-offset-1 testMedia">
                <div class="cover-container col-xs-12 padd-10-tb ">
                    <div class="dropzone fileinput fileinput-new"
                         data-download="true"
                         data-width="1350"
                         data-ghost="true"
                         data-ajax="false"
                         data-resize="true"
                         data-originalsize="false"
                         data-height="500"
                         data-editstart="true">
                        <input id="thumb" required="true" class="thumb" name="thumb" type="file"
                               accept="image/x-png,image/gif,image/jpeg">
                    </div>
                </div>
            </div>

            <!--  body  -->
            <div class="col-md-10 col-md-offset-1">


                <!--  fecha inicio  -->
                <div class="dropdown form-group dropdown-start-parent col-xs-12 padd-0-xs col-md-6">

                    <a class="dropdown-toggle" id="dropdownStart" role="button"
                       data-toggle="dropdown" data-target="dropdown-start-parent">
                        <div class="input-group date">
                            <input type="text" class="form-control" data-date-time-input="DD/MM/YY HH:mm"
                                   required="true"
                                   placeholder="Fecha de Inicio"
                                   data-ng-model="dateRangeStart">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar "></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRangeStart"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed', minuteStep: 15 }"
                                        data-on-set-time="startDateOnSetTime()"
                                        data-before-render="startDateBeforeRender($dates)">
                        </datetimepicker>
                    </ul>
                </div>

                <!--  fecha termino  -->
                <div class="dropdown form-group dropdown-end-parent col-xs-12 padd-0-xs col-md-6">
                    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"
                       data-target=".dropdown-end-parent">
                        <div class="input-group date">
                            <input type="text" required="true" class="form-control"
                                   placeholder="Fecha de termino"
                                   data-ng-model="dateRangeEnd">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRangeEnd"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed', minuteStep: 15 }"
                                        data-on-set-time="endDateOnSetTime()"
                                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                    </ul>
                </div>


                <!--  descripcion evento  -->
                <div class="col-xs-12 padd-10-tb col-md-12">
                    <div class="form-group label-floating">
                        <label class=""> Descripción del evento </label>
                        <textarea required="true" data-ng-model="newEvent.eventDetails"
                                   class="form-control"
                                  rows="5"></textarea>
                        <span class="help-block">Cuéntanos que tan sorprendente sera este evento.</span>
                    </div>
                </div>


                <!--  ambiente y genero -->
                <div class="col-xs-12 padd-10-tb">
                    <!--  vestimenta
                    <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                        <i style="float: left;" class="material-icons">accessibility</i>
                        <label>Codigo de vestimenta</label>
                        <md-select ng-model="newEvent.clothing">
                            <md-option><em>None</em></md-option>
                            <md-option ng-value="close.name" ng-repeat="close in clothings">
                                {{close.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
        -->


                    <div class="col-md-6" ng-show="musicGenresSelect == true">
                        <select ng-model="newEvent.musicGenresSelect" class="selectpicker " data-max-options="3"
                                data-style="select-with-transition" multiple title="Genero musical (max 3)"
                                data-size="7">
                            <option disabled>Genero musical (max 3)</option>
                            <option value="80'S">80'S</option>
                            <option value="Clasico">Clasico</option>
                            <option value="Dance">Dance</option>
                            <option value="Dance Hall">Dance Hall</option>
                            <option value="Deep House">Deep House</option>
                            <option value="Electronica">Electronica</option>
                            <option value="Funky">Funky</option>
                            <option value="Hip Hop">Hip Hop</option>
                            <option value="Hits">Hits</option>
                            <option value="House">House</option>
                            <option value="Latin">Latin</option>
                            <option value="Pachanga">Pachanga</option>
                            <option value="Reggae">Reggae</option>
                            <option value="Reggaeton">Reggaeton</option>
                            <option value="Retro">Retro</option>
                            <option value="Rock">Rock</option>
                            <option value="R&B">R&B</option>
                            <option value="Salsa">Salsa</option>
                            <option value="Techno">Techno</option>
                            <option value="Trap">Trap</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-show="musicGenresSelect != true" >
                        Genero musical :
                        <font  ng-repeat="musicGenres in newEvent.musicGenresSelect">{{musicGenres}}

                        </font>
                        <i ng-click="borrarMusicGenresSelect()" class="material-icons testico">close </i>

                    </div>

                    <div class="col-md-6" ng-show="eventEnvironmentSelect == true" >

                        <select ng-model="newEvent.eventEnvironmentSelect" required="true" class="selectpicker"
                                data-max-options="2"
                                data-style="select-with-transition" multiple title="Ambiente (max 2)" data-size="7">
                            <option disabled>Ambiente (max 2)</option>
                            <option value="Alocado">Alocado</option>
                            <option value="Alternativo">Alternativo</option>
                            <option value="Concierto">Concierto</option>
                            <option value="Elegante">Elegante</option>
                            <option value="Festival">Festival</option>
                            <option value="Internacional">Internacional</option>
                            <option value="Lounge and Bar">Lounge and Bar</option>
                            <option value="Outdoor">Outdoor</option>
                            <option value="Sofisticado">Sofisticado</option>
                            <option value="Terraza">Terraza</option>
                            <option value="Ultra Bailable">Ultra Bailable</option>
                            <option value="Underground">Underground</option>
                            <option value="Universitario">Universitario</option>
                            <option value="Pub">Pub</option>
                        </select>

                    </div>
                    <div class="col-md-6" ng-show="eventEnvironmentSelect != true" >
                        Ambiente :
                        <font  ng-repeat="environment in newEvent.eventEnvironmentSelect">{{environment}}

                        </font>
                        <i ng-click="borrarEventEnvironmentSelect()" class="material-icons testico">close </i>
                    </div>
                    <!--  genero
                    <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                        <i style="float: left;" class="material-icons">music_note</i>
                        <label>Genero musical (max 3)</label>
                        <md-select class="musicalSelec" ng-model="newEvent.musicGenres" multiple
                                   ng-change="allow3musicaGenres()">
                            <md-option class="music-options" ng-value="music.name"
                                       ng-repeat="music in musics"
                                       ng-show="music.visible == true">{{music.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    -->
                </div>


                <!--  edad -->
                <div class="col-xs-12">

                    <div class="col-md-4" ng-show="ageRangeFemale == true">

                        <!--  <i style="float: left;" class="fa fa-venus" aria-hidden="true"></i>  -->

                        <select ng-model="newEvent.ageRangeFemale" required="true" class="selectpicker"
                                data-style="select-with-transition"
                                title="Edad Mujeres " data-size="7">
                            <option disabled> Edad Mujeres</option>
                            <option  value="18">+18</option>
                            <option value="19">+19</option>
                            <option value="20">+20</option>
                            <option value="21">+21</option>
                            <option value="22">+22</option>
                            <option value="23">+23</option>
                            <option value="24">+24</option>
                            <option value="25">+25</option>
                        </select>

                    </div>
                    <div class="col-md-4" ng-show="ageRangeFemale != true">
                        <p> Edad Mujeres : {{newEvent.ageRangeFemale}}
                            <i ng-click="borrarEventAgeRangeFemale()" class="material-icons testico">close </i> </p>


                    </div>
                    <div class="col-md-4" ng-show="ageRangeMale == true">

                        <!--  <i style="float: left;" class="fa fa-venus" aria-hidden="true"></i>  -->

                        <select ng-model="newEvent.ageRangeMale" required="true" class="selectpicker"
                                data-style="select-with-transition"
                                title="Edad Hombres" data-size="7">
                            <option disabled> Edad Hombres</option>
                            <option value="18">+18</option>
                            <option value="19">+19</option>
                            <option value="20">+20</option>
                            <option value="21">+21</option>
                            <option value="22">+22</option>
                            <option value="23">+23</option>
                            <option value="24">+24</option>
                            <option value="25">+25</option>
                        </select>

                    </div>

                    <div class="col-md-4" ng-show="ageRangeMale != true">
                        <p> Edad Hombres: {{newEvent.ageRangeMale}}
                            <i ng-click="borrarEventAgeRangeMale()" class="material-icons testico">close </i> </p>


                    </div>

                    <div class="col-md-4"  ng-show="clothing == true">

                        <!--  <i style="float: left;" class="fa fa-venus" aria-hidden="true"></i>  -->

                        <select data-ng-model="newEvent.clothing" id="clothing"  required="true" class="selectpicker"
                                data-style="select-with-transition"
                                title="Codigo de Vestimenta" data-size="7">
                            <option disabled>Codigo de vestimenta</option>
                            <option value="Black and White">Black and White</option>
                               <option value="Casual">Casual</option>
                            <option value="Disfraces">Disfraces</option>
                            <option value="Gala">Gala</option>
                            <option value="SemiFormal">SemiFormal</option>
                            <option value="Verano">Verano</option>
                        </select>

                    </div>
                    <div class="col-md-4" ng-show="clothing != true">
                        <p> Codigo de vestimenta :  {{newEvent.clothing}}
                            <i ng-click="borrarEventClothing()" class="material-icons testico">close </i> </p>


                    </div>


                    <!--  edad mujeres
                    <md-input-container class=" col-xs-12 padd-0-xs col-sm-6">
                        <i style="float: left;" class="fa fa-venus" aria-hidden="true"></i>
                        <label>Edad mujeres</label>
                        <md-select  ng-model="newEvent.ageRangeFemale">
                            <md-option><em>None</em></md-option>
                            <md-option ng-value="ageRange.$value" ng-repeat="ageRange in ageRanges">
                                +{{ageRange.$value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
        -->


                    <!--  edad hombres
                    <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                        <i style="float: left;" class="fa fa-mars"></i>
                        <label>Edad Hombres</label>
                        <md-select ng-model="newEvent.ageRangeMale">
                            <md-option><em>None</em></md-option>
                            <md-option ng-value="ageRange.$value" ng-repeat="ageRange in ageRanges">
                                +{{ageRange.$value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                       -->
                </div>


                <!--  artista y ambiente -->
                <div class="col-md-9 col-md-offset-1 col-xs-12">

                    <div class="col-md-9 ">


                        <div class="form-group  is-empty">
                            <label class="label-on-left label-floating">Line Up</label>
                            <input ng-model="newEvent.djs" required="true" type="text" class="form-control">
                            <span class="help-block">Mencione los artistas que estaran presente.</span>
                        </div>

                    </div>
                    <div class="col-md-3">


                        <div class="form-group  is-empty">
                            <label class="label-on-left label-floating">Valor Puerta</label>
                            <input id="valorEntrada" ng-model="newEvent.entryValue" required="true" type="number"
                                   class="form-control text-right ">

                            <span class="help-block">Valor entrada en puerta dia del evento.</span>

                        </div>
                    </div>


                    <!--  ambiente
                    <md-input-container class="col-xs-12 padd-0-xs col-sm-6">
                        <i style="float: left;" class="material-icons">layers</i>
                        <label>Ambiente (max 2)</label>
                        <md-select ng-model="newEvent.eventEnvironment" multiple
                                   ng-change="allowUpTo2Ambiente()">
                            <md-option class="ambiente-option" ng-value="environment.name"
                                       ng-repeat="environment in environments">{{environment.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    -->

                    <!--  artista
                    <div class="input-group ">
                        <span class="input-group-addon">
                            <i class="fa fa-headphones"></i>
                        </span>
                        <input type="text" ng-model="newEvent.djs" class="form-control" placeholder="Line UP">
                    </div>

                    <div class="input-group col-sm-6">
                        <span class="input-group-addon">
                            <i class="fa fa-usd"></i>
                        </span>
                        <input type="number" ng-model="newEvent.entryValue" class="form-control"
                               placeholder="Valor puerta">
                    </div>
                      -->
                </div>

                <!--  horario gratis -->
                <div class="col-md-6 col-md-offset-3 col-xs-12">

                    <md-switch
                            ng-model="activarHoraGratis" ng-click="activarHoraGratisF()"
                            aria-label="Checkbox 1">
                        <bold>Definir Horario Gratis</bold>
                    </md-switch>
                    <div ng-show="activarHoraGratis"
                         class="dropdown form-group dropdown-end-parent1">
                        <a class="dropdown-toggle" id="dropdownEndFree" role="button" data-toggle="dropdown"
                           data-target=".dropdown-end-parent1">
                            <div class="input-group date">
                                <input type="text" class="form-control"
                                       placeholder="Límite horario gratuito"
                                       data-ng-model="newEvent.freemiumHour">
                                <span class="input-group-addon"><i
                                        class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="newEvent.freemiumHour"
                                            data-datetimepicker-config="
                                            {
                                            dropdownSelector: '#dropdownEndFree'
                                            ,renderOn: 'end-date-changed'
                                            ,startView:'hour'
                                            ,minuteStep: 15

                                            }"
                                            data-on-set-time="endDateOnSetTime()"
                                            data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                        </ul>
                    </div>

                </div>


                <!--  antecipada  botones-->
                <div class="col-md-12 col-md-offset-1 text-center" title="Añadir Promoción">


                    <a class="col-md-2 col-xs-12 btn-round btn btn-danger "
                       ng-click="addNewChoicePREVENTA()" ng-model="Preventa">
                        <i class="fa fa-ticket "></i>
                        Preventa
                    </a>


                    <a class="col-md-2 col-xs-12 btn btn-round btn-success"
                       ng-click="addNewChoiceMESA()"
                       ng-model="Mesa">
                        <i class=" material-icons ">local_play</i>
                        Mesa
                    </a>

                    <a class="col-md-2 col-xs-12 btn-round btn btn-info"
                       ng-click="addNewChoiceBOTELLAS()" ng-model="Botella">
                        <i class="fa fa-glass"></i>
                        Botella
                    </a>

                    <a class="col-md-2 col-xs-12 btn btn-round btn-default"
                       ng-click="addNewChoiceVIP()"
                       ng-model="Vip">
                        <i class="fa fa-diamond"></i>
                        Vip
                    </a>

                    <a class="col-md-2 col-xs-12 btn-round btn btn-warning"
                       ng-click="addNewChoiceESPECIAL()"
                       ng-model="Especial">
                        <i class=" material-icons ">stars</i>
                        Especial
                    </a>


                </div>

                <!--  antecipada  panel-->
                <div class="card col-md-9 col-md-offset-2" style="background-color: whitesmoke"
                     data-ng-repeat="servicioEvent in serviciosEvent">
                    <div style="border-radius: 5px!important; background-color: {{servicioEvent.color}}!important;padding: 5px!important; color: white"
                         class="card-header text-center">
                        <strong>{{servicioEvent.tipo}}</strong>
                    </div>

                    <div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" required="true"
                                       ng-model="servicioEvent.precio" placeholder="Precio"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" required="true"
                                       ng-model="servicioEvent.cantidad" placeholder="Cantidad Disponible"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" required="true"
                                       ng-model="servicioEvent.maxEntradas"
                                       placeholder="Max entradas por compra" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group col-md-12">
                                <textarea ng-model="servicioEvent.desc" class="form-control" required="true"
                                          placeholder="Descripción" rows="3">
                                </textarea>
                        </div>


                        <div class="dropdown col-md-8 col-xs-12">
                            <a class="dropdown-toggle" id="dropdown2" role="button"
                               data-toggle="dropdown">
                                <div class="input-group date">
                                    <input type="text" class="form-control" required="true"
                                           data-ng-model="servicioEvent.fechaFin"
                                           placeholder="Horario Límite Promoción">
                                    <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="servicioEvent.fechaFin"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdown2',
                                                      renderOn: 'start-date-changed'}"
                                                data-on-set-time="endDateOnSetTime()"
                                                data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
                                </datetimepicker>

                            </ul>
                        </div>

                        <a ng-click="removeChoice()"
                           class="btn  btn-default btn-round pull-right  btn-fab-mini col-md-3 col-xs-12">
                            <i class="material-icons pointer btn_rsvp_trash">delete_forever</i>
                        </a>


                    </div>

                </div>
            </div>


    </div>
</div>

<!--PRIMER PASO: Colocar dentro del tag HEAD -->


<!-- SEGUNDO PASO: Ver el ejemplo y copiar el formulario y las imágenes 'Guardar como...' -->


