<div class="col-xs-12 col-sm-12" style="
    padding-left: 5px;
    padding-right: 5px;">

<div class="content" >
    <div >
        <div class="row">

            <div class="col-md-9" data-ng-show="true">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Servicios Comprados</h4>
                        <p class="category">Lista de Servicios adquirido por los usuarios.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Pagado</th>
                            <th>Utilizado</th>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="ticketEvent in ticketsEvent">
                                <td >{{ticketEvent.firstName}} {{ticketEvent.displayName}}</td>
                                <td>{{ticketEvent.tipoEventservices}}</td>
                                <td>
                                   {{ticketEvent.cantidadDeCompra}}
                                </td>
                                <td>
                                    <md-checkbox
                                            ng-model="ticketEvent.ticketEvent"
                                            aria-label="Checkbox 1"
                                        ng-click="accionVisibleDoorman(doorman)">

                                    </md-checkbox>
                                </td>
                                <td>
                                    <md-checkbox
                                            ng-model="ticketEvent.redeemed"
                                            aria-label="Checkbox 1"
                                            ng-click="accionVisibleDoorman(doorman)">

                                    </md-checkbox>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">IMPRESIONES</h4>
                    <p class="category">total de impresiones : {{impresionesTotales}} </p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th>RRPP</th>
                        <th>Tolta</th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="rrpp in impresionesRRPP">
                            <td>{{rrpp.nameRRPP}}</td>
                            <td>{{rrpp.openLink}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">LISTAS GRATIS</h4>
                        <p class="category">total de lista : {{totalListasGratis}} </p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="user in listaGratis">
                                <td>{{user.displayName}}</td>
                                <td>{{user.totalList}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-9" data-ng-show="true">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Servicios Asignados</h4>
                        <p class="category">lista de servicios.</p>
                    </div>
                    <div class="card-content table-responsive">

                        <table class="table">
                            <thead class="text-primary">
                            <th>Tipo</th>
                            <th>Valor</th>
                            <th>Cantidad / Vendidos</th>
                            <th>visible</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="servicioEvent in serviciosEvent">
                                <td>{{servicioEvent.tipo}}</td>
                                <td>{{servicioEvent.precio}}</td>
                                <td>{{servicioEvent.cantidad}}/ {{servicioEvent.utilizados}}</td>
                                <td><md-switch  ng-click="accionVisible(servicioEvent)" ng-model="servicioEvent.visible" aria-label="Switch 1">

                                </md-switch>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>