<div class="col-xs-12 col-sm-12" style="
    padding-left: 5px;
    padding-right: 5px;">

<div class="content" >
    <div >
        <div class="row">

            <div class="col-md-9" data-ng-show="true">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Servicios Comprados</h4>
                        <p class="category">Lista de Servicios adquirido por los usuarios.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Utilizado/Cantidad</th>
                            <th>Total Pagado</th>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="ticketEvent in ticketsEvent">
                                <td> {{ticketEvent.displayName}}</td>
                                <td>{{ticketEvent.tipoEventservices}}</td>
                                <td>
                                    {{ticketEvent.cantidadUtilizada}} / {{ticketEvent.cantidadDeCompra}}
                                </td>
                                <td>
                                    <div ng-show="!ticketEvent.paidOut"> ${{(ticketEvent.totalAPagar/ticketEvent.cantidadDeCompra)*ticketEvent.cantidadUtilizada}}</div>
                                    <div ng-show="ticketEvent.paidOut"> ${{ticketEvent.totalAPagar}}</div>

                            </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">IMPRESIONES</h4>
                    <p class="category">total de impresiones : {{impresionesTotales}} </p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th>RRPP</th>
                        <th>Tolta</th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="rrpp in impresionesRRPP">
                            <td>{{rrpp.nameRRPP}}</td>
                            <td>{{rrpp.openLink}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">LISTAS GRATIS</h4>
                        <p class="category">total de lista : {{totalListasGratis}} </p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Utilizadas / Cantidad</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="user in listaGratis">
                                <td>{{user.displayName}}</td>
                                <td>{{user.totalAsist}} / {{user.totalList}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-9" data-ng-show="true">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Servicios Asignados</h4>
                        <p class="category">lista de servicios.</p>
                    </div>
                    <div class="card-content table-responsive">

                        <table class="table">
                            <thead class="text-primary">
                            <th>Tipo</th>
                            <th>Valor</th>
                            <th>Vendidos / Cantidad  </th>
                            <th>visible</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="servicioEvent in serviciosEvent">
                                <td>{{servicioEvent.tipo}}</td>
                                <td>{{servicioEvent.precio}}</td>
                                <td>{{servicioEvent.utilizados}} / {{servicioEvent.cantidad}} </td>
                                <td><md-switch  ng-click="accionVisible(servicioEvent)" ng-model="servicioEvent.visible" aria-label="Switch 1">

                                </md-switch>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!--  <div class="col-md-10 col-md-offset-1">
            <div class="iframe-container hidden-sm hidden-xs">
                 <iframe src="http://localhost:63342/izinaitFull/public/app/index.html?_ijt=otddf3mrr2clvpdijvq6jpf9ee#!/detalleEvento?id=-Kq5qvJY4LOE4S6tZNV7">
                     <p>Your browser does not support iframes.</p>
                 </iframe>
             </div>
             </div> -->

        </div>
    </div>
</div>
</div>