<div id="codigoVisibile" style='display:none;'>
    <div class="text-center" style="max-width: 160px;margin: -80px auto 0;">
        <img src="{{foto}}"
             style="    box-shadow: 0 10px 30px -12px rgba(254, 0, 114, 0.42), 0 4px 25px 0px rgba(254, 0, 114, 0.12), 0 8px 10px -5px rgba(254, 0, 114, 0.2);"
             class="img-circle img-responsive">

    </div>
    <div style="color: #340034">
        <h3 style="font-weight: 400; text-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);">{{nombre}}</h3>
    </div>
    <div class="col-sm-12 col-md-12  col-xs-12 text-center">


        <div id="qr">
        </div>
        <!--  <img class="imagenRedonda" src="{{foto}}"/>-->

    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="text-center col-md-4 col-xs-12 col-md-offset-4">
        <a class="btn btn-success col-xs-12" style="background-color: black" ng-click="crearCliente()" data-toggle="tooltip" data-placement="top"
           title="¡PAGINA SEGURA!">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            webpay <span style="color: #0ab1fc">ONE</span>CLICK
        </a>
    </div>
    <br>
    <br>
    <div class="col-md-8  text-center  col-xs-12" ng-show="userQvoRQ.userQvoId != undefined">


        <div class="card col-md-12 table-responsive col-xs-12 col-md-offset-3">
            <table class="col-md-12 col-xs-12 table">
                <thead>
                <tr class="text-primary">
                    <th>Primaria</th>
                    <th>Tipo</th>
                    <th>Fecha Creación</th>
                    <th>Ultimos Digitos</th>
                    <th>Borrar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="card in userQvoRQ.cards">
                    <td class="text-left">
                        <button  disabled ng-show="userQvoRQ.creditCardDefault == card.id" class="btn btn-sm " style="background-color: #340034">PREDETERMINADA</button>
                        <button  ng-click="selecionarTarjeta(card)" ng-show="userQvoRQ.creditCardDefault != card.id" class="btn btn-sm " style="background-color: #fe0072">SELECIONAR</button>

                    </td>
                    <td class="text-left">{{card.card_type}}</td>
                    <td class="text-left">{{card.created_at | date : 'dd MMM yy'}}</td>
                    <td class="text-left">*** {{card.last_4_digits}}</td>
                    <td class="text-left">
                        <a style="color: red" href=""
                           ng-click="eliminarTarjeta(card,userQvoRQ)" >
                            <i class="material-icons pointer btn_rsvp_trash">delete_forever</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-12  col-xs-12  text-center col-md-offset-3">
        <a id="salir" class="btn  col-md-3" style="background-color: #fe0072">
            <i class="fa fa-sign-out" aria-hidden="true"></i> SALIR
        </a>
        <a class=" btn   col-md-3" href="#!/tickets" style="background-color: #340034">
            <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
        </a>
    </div>
</div>


<div id="pedirCodigo" style='display:none;'>


    <center>

        <div class="col-md-6 col-md-offset-3 text-center">
            <h3 color="#340034" class="nombreEvento">
                este código tendras acceso a los mejores eventos
                de la
                ciudad, tus reservas, tus
                compras y mucho mas.
            </h3>


            <a id="sign-in-facebook" style="background-color: #3b5998;"
               scope="public_profile email user_birthday"
               class="btn btn-social btn-fill btn-facebook">
                <i class="fa fa-facebook-square"></i> Continuar con Facebook
            </a>

        </div>
    </center>

</div>


<script type="text/ng-template" id="dialogCrearClienteQvo" class="col-xs-12">

    <div class="col-md-12 col-xs-12">
        <center><br>
            <h5> REDIRECCIONANDO </h5>
            <button id="BarraCargando" style="display: none"
                    class="btn btn-info btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i>
                CONFIRMANDO DATOS
            </button>
            <button id="barraRedirectUrl" style="display: block"
                    class="btn btn-info"><i class="fa fa-circle-o-notch fa-spin"></i>
                Redirecciando a pagina segura.
            </button>

            <!--  <div id="datosClienteQvo">
              <input  type="text" placeholder="Nombre" class="form-control col-md-12"  ng-model="usuarioLogeado.displayName">
              <input  type="text" placeholder="Correo" class="form-control col-md-12" ng-model="usuarioLogeado.email">
              <button ng-click="crearUsuarioQvo()" scope="public_profile email user_birthday"
                      class=" btn btn-info">

                  <i class="material-icons"></i> Agregar Tarjeta
              </button>
              </div>-->
            <br>


        </center>
    </div>


</script>
