<style>
    .imagenRedonda {
        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 55%;
        width: 55%;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
</style>
<div id="codigoVisibile"    style='display:none;'>
    <div class="col-sm-6 col-md-6">    <center>
        <br>
        <img class="fotoPerfilCodigo" src="{{foto}}">
        <br>
        <i ng-show="usuarioLogeado.gender == 'male'"
           class="fa fa-mars"></i>
        <i ng-show="usuarioLogeado.female == 'female'"
           class="fa fa-venus"></i>
        <br>
        <div style="color: #340034">
            <font size="5"><strong>{{nombre}}</strong></font>
        </div>

        <h5 class="j2">Tu Código</h5>
        <div id="qr">
        </div>
        <br>
        <button id="salir"
                class=" btn btn-sm" style="background-color: #fe0072">
            <i class="material-icons"></i> SALIR
        </button>
        <!--  <img class="imagenRedonda" src="{{foto}}"/>-->

    </center></div>
    <div class="col-md-6 " ng-show="userQvoRQ.userQvoId != undefined">

        <div class="title">
            <center>
            <h3>AGREGAR TARJETA DE CREDITO</h3>
                <button class="btn btn-success" ng-click="crearCliente()"> AGREGAR TARJETA DE CREDITO ON-CLICK</button>
            </center>
        </div>


        <table class="table col-md-8" ng-show="userQvoRQ.cards != undefined">
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Fecha Creacion</th>
                <th>Digitos</th>
                <th>Metodo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="card in userQvoRQ.cards">
                <td >{{card.card_type}}  </td>
                <td>{{card.created_at}}</td>
                <td>**** {{card.last_4_digits}}</td>
                <td >{{card.payment_type}}</td>
                <td >
                    <button  style="margin-top: -4px;margin-bottom: -4px" class="btn btn-danger btn-sm" ng-click="eliminarTarjeta()"> eliminar</button>
                </td>
            </tr>


            </tbody>
        </table>


    </div>

</div>



<div id="pedirCodigo" style='display:none;'>

    <hr class="hrStyle">

    <center>

        <font size="5px" color="#340034" class="nombreEvento">Con este código tendras acceso a los mejores eventos de la ciudad, tus reservas, tus
            compras y mucho mas.
        </font>
        <br>

        <button id="sign-in-facebook" onclick="" scope="public_profile email user_birthday"
                class=" btn btn-info">
            <i class="material-icons"></i> Obten tu código
        </button>

    </center>

    <hr class="hrStyle">

</div>




<script type="text/ng-template" id="dialogCrearClienteQvo" class="col-xs-12">

    <div class="col-md-12">
        <center><br>
            <h5> REDIRECCIONANDO </h5>
            <button id="BarraCargando"  style="display: none"
                    class="btn btn-info btn-lg"><i class="fa fa-circle-o-notch fa-spin"> </i>
                CONFIRMANDO DATOS
            </button>
            <button id="barraRedirectUrl"  style="display: block"
                    class="btn btn-info btn-lg"><i class="fa fa-circle-o-notch fa-spin"> </i>
                Redirecciando a pagina segura.
            </button>

          <!--  <div id="datosClienteQvo">
            <input  type="text" placeholder="Nombre" class="form-control col-md-12"  ng-model="usuarioLogeado.displayName">
            <input  type="text" placeholder="Correo" class="form-control col-md-12" ng-model="usuarioLogeado.email">
            <button ng-click="crearUsuarioQvo()" scope="public_profile email user_birthday"
                    class=" btn btn-info">

                <i class="material-icons"></i> Agregar Tarjeta
            </button>
            </div>-->
            <br>


        </center>
    </div>


</script>
