<div class="card">

    <div class="card-header card-header-tabs  text-center navbar-fixed-top" data-background-color="purple" style="
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 60px;
    position: sticky;
    z-index: 9999;
    background: #191919;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);">
        <ul class="nav nav-tabs pull-left" role="tablist" style="width: 85%;">
            <li style="width: 33%;float: left" class="active">
                <a href="#tabVentas" target="#tabVentas" ng-click="verBoton('tab1')" role="tab" data-toggle="tab">Reservas</a>
            </li>
            <li style="width: 33%;float: left">
                <a href="#tabPuerta" target="#tabPuerta" ng-click="verBoton('tab2')" role="tab"
                   data-toggle="tab">RR.PP</a>
            </li>
            <li style="width: 33%;float: left">
                <a href="#tabListaGratis" target="#tabListaGratis" ng-click="verBoton('tab3')" role="tab"
                   data-toggle="tab">LISTA</a>
            </li>

        </ul>
        <div style="width: 15%; float:left;     padding-top: 5px;">
            <div class="top-right-2 va-top inline-block text-center grey-70-c">
                <p class="text-warning text-right">120</p>
                <p class="smalltext text-right" style="font-size: 12px;line-height: 10px; margin-top: -10px">
                    <small>Asistentes</small>
                </p>
            </div>
        </div>
    </div>
    <div class="card-content" style="padding-top: 0px">
        <div id="filtroVenta" class="card-content navbar-fixed-top"
             style="
              position: sticky;
              top: 70px;
              background: white;
              z-index: 999;
              border-radius: 5px;
              box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);">

            <input type="text" ng-show="filtroVenta" class="form-control" placeholder="Buscar"
                   ng-keyup="filterEventsByText('venta')"
                   ng-model="filterVentaInput"/>

            <input type="text" ng-show="filtroRrpp" class="form-control" placeholder="Buscar"
                   ng-keyup="filterEventsByText('rrpp')"
                   ng-model="filterRrppInput"/>
            <input type="text" ng-show="filtroLista" class="form-control" placeholder="Buscar"
                   ng-keyup="filterEventsByText('lista')"
                   ng-model="filterListaInput"/>
        </div>

        <div class="tab-content table-responsive">

            <div class="tab-pane active" id="tabVentas">
                <table id="dtVentas" class="table table-hover">
                    <tbody>
                    <tr ng-repeat="ticketObtenido in ticketsObtenidos"
                        data-ng-click="cobrarServicio(ticketObtenido)">
                        <td>
                            {{ticketObtenido.firstName}} {{ticketObtenido.lastName}}
                            <p class="description">{{ticketObtenido.tipoEventservices}}</p>
                        </td>
                        <td class="text-right">
                            {{ticketObtenido.cantidadUtilizada}} / {{ticketObtenido.cantidadDeCompra}}
                        </td>
                        <td class="text-right">
                            <a ng-show="!ticketObtenido.paidOut">
                                ${{(ticketObtenido.totalAPagar/ticketObtenido.cantidadDeCompra)*(ticketObtenido.cantidadDeCompra-ticketObtenido.cantidadUtilizada)
                                | number:0}}
                            </a>
                            <a ng-show="ticketObtenido.paidOut">
                                Pagado
                            </a>
                            <p class="text-right" style="font-size: 12px;line-height: 10px;">
                                <small class="cagegory description">Saldo Pendiente</small>
                            </p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tabPuerta">
                <table id="dtPuerta" class="table  table-hover" style="width: 100%!important;">
                    <tbody>
                    <tr ng-repeat="rrpp in rrpps">
                        <td>{{rrpp.name}}</td>
                        <td class="text-primary">
                            <p ng-click="AgregarPersonas($index,rrpp)" class="btn btn-sm btn-info">
                                <i class="material-icons">add</i>
                            </p>
                        </td>
                        <td class="text-right">
                            {{rrpp.numeroTotal}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tabListaGratis">
                <table class="table  table-hover">
                    <tbody>
                    <tr ng-repeat="user in listaGratis" data-ng-click="abrirListaGratis(user)">
                        <td>
                            {{user.displayName}}
                        </td>
                        <td class="text-right">
                            {{user.totalAsist}} / {{user.totalList}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script id="dialogCobrarServicio" type="text/ng-template">
    <md-dialog aria-label="Confirmar Check In">
        <div class="content text-center">
            <img class="foto text-center" src="{{user.picture}}">
            <h5 style="font-weight: 900;font-style: italic;margin-bottom: 0px;">{{user.displayName}} </h5>
            <div>
                <div class="col-md-6 col-xs-6">
                    <span class="description"><i class="fa fa-address-card-o grey"></i></span>
                    <span>{{userEdad}} <small>Años</small></span>

                </div>
                <div class="col-md-6 col-xs-6">
                    <span><i ng-show="user.gender == 'male'" class="fa fa-mars description"><span class="txt-white"> Hombre</span></i><i
                            ng-show="user.female == 'female'" class="fa fa-venus description"><span class="txt-white"> Mujer</i>
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
                <p style="font-size: 18px;">{{ingresosRestantes}} <span class="description">x</span>
                    {{ticketObtenido.tipoEventservices}}
                    <span class="description"> - $ </span>{{ingresosRestantes*precioIndividual | number:0}}</p>
                <span class="description col-md-12">Cobrados : <span
                        class="txt-white">{{ticketObtenido.cantidadUtilizada}}</span></span>
            </div>


            <div class="col-md-12 col-xs-12 text-center zeroPadLados">

                <div class="col-md-6 col-xs-6 zeroPadLados">
                    <div style="border: 1px solid #fe0072; border-radius: 6px;margin-right: 5px;margin-left: 5px;">


                        <div class=" zeroPadLados padTopBot15">

                            <button data-ng-click="aumentarEntradasHombre(entradasHombre,entradasMujer)" type="button"
                                    class="btn btn-info  btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <P style="margin-bottom: -10px;">
                                <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                <span style="font-size: 22px;">{{entradasHombre}}</span>
                            <p class="description" style="margin-top: -10px;"><small>Hombres</small></p>
                            </P>
                            <button data-ng-click="disminuirEntradasHombre(entradasHombre)" type="button"
                                    class="btn btn-info btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-xs-6 zeroPadLados">
                    <div style="border: 1px solid #fe0072; border-radius: 6px;margin-right: 5px;margin-left: 5px;">


                        <div class="zeroPadLados padTopBot15">

                            <button data-ng-click="aumentarEntradasMujer(entradasHombre,entradasMujer)" type="button"
                                    class="btn btn-info btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <P style="margin-bottom: -10px;">
                                <i class="fa fa-venus description" style="font-size: 18px; margin: 10px;"></i>
                                <span style="font-size: 22px;">{{entradasMujer}}</span>
                            <p class="description" style="margin-top: -10px;"><small>Mujeres</small></p>
                            </P>
                            <button data-ng-click="disminuirEntradasMujer(entradasMujer)" type="button"
                                    class="btn btn-info btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 txt-white" style="padding-top: 10px" data-ng-show="!ticketObtenido.paidOut">
                <div class="col-md-6 col-xs-6">
                    <md-checkbox class="dotted" ng-click="obtenerTipoDePago('tarjeta')" ng-disabled="efectivo"
                                 ng-model="tarjeta"
                                 aria-label="Checkbox 1">
                        Tarjeta
                    </md-checkbox>
                </div>
                <div dir="rtl" class="col-md-6 col-xs-6">
                    <md-checkbox class="dotted" ng-click="obtenerTipoDePago('efectivo')" ng-disabled="tarjeta"
                                 ng-model="efectivo"
                                 aria-label="Checkbox 1">
                        Efectivo
                    </md-checkbox>
                </div>

            </div>

            <div data-ng-show="ticketObtenido.paidOut">
                Ya ha sido cancelado.
            </div>
        </div>
        <span class="description" style="font-size: 18px;">Total : $ <span class="txt-white">{{(entradasMujer +entradasHombre)*precioIndividual | number:0}}</span></span>

        <div class="text-right col-xs-offset-1">
            <button data-ng-click="cancel()" class="btn btn-default btn-sm col-md-3  col-xs-3">
                <span class="btn-label">
                    <i class="material-icons">close</i>
                </span>

            </button>
            <button data-ng-click="guardarEntrada()" class="btn btn-success  btn-sm col-md-8 col-xs-8">
                <span class="btn-label">
                    <i class="material-icons">check</i>
                </span>
                Confirmar
            </button>

        </div>
    </md-dialog>

    <style>

        .foto {
            top: 0px;
            max-width: 130px;
            max-height: 130px;
            margin: -80px auto 0;
            border-radius: 50%;
            box-shadow: 0 10px 30px -12px rgba(254, 0, 114, 0.42), 0 4px 25px 0px rgba(254, 0, 114, 0.12), 0 8px 10px -5px rgba(254, 0, 114, 0.2);
        }

        .overflow {
            overflow: visible;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
            border-radius: 12px;
            padding: 0px 30px 30px 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background: #191919;
            color: #fff;
            text-align: center;
        }

        .zeroPadLados {
            padding-left: 0px;
            padding-right: 0px;
        }

        .padTopBot15 {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        md-checkbox.dotted .md-icon {
            border-color: #fe0072;
        }
    </style>

</script>

<div id="botonQR" style="float: right;position: sticky;bottom: 30px;right: 20px;">
    <button id="codemodalshow" data-ng-click="abrirLectorQr()" class="btn btn-rose btn-round relative text-center"
            style="width: 60px;padding: 0px;height: 60px;">
        <i class="material-icons text-center txt-white" style="font-size: 40px;">fullscreen</i>
    </button>
</div>




