<!--contenido-->
<div class="card">
    <!--cabecera tablas-->
    <div class="card-header card-header-tabs  text-center navbar-fixed-top" data-background-color="purple" style="
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 60px;
    position: sticky;
    z-index: 9999;
    background: #191919;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);">

        <!--navegacion-->
        <ul class="nav nav-tabs pull-left" role="tablist" style="width: 85%;">
            <li style="width: 33%;float: left" class="active">
                <a href="#tabVentas" target="#tabVentas" ng-click="verBoton('tab1')" role="tab" data-toggle="tab">Reservas</a>
            </li>
            <li style="width: 33%;float: left">
                <a href="#tabPuerta" target="#tabPuerta" ng-click="verBoton('tab2')" role="tab"
                   data-toggle="tab">RR.PP</a>
            </li>
            <li style="width: 33%;float: left">
                <a href="#tabListaGratis" target="#tabListaGratis" ng-click="verBoton('tab3')" role="tab"
                   data-toggle="tab">LISTA</a>
            </li>

        </ul>
        <!--navegacion-->

        <div style="width: 15%; float:left;     padding-top: 5px;">
            <div class="top-right-2 va-top inline-block text-center grey-70-c">
                <p class="text-warning text-right">{{asistenciasTotales}}</p>
                <p class="smalltext text-right" style="font-size: 12px;line-height: 10px; margin-top: -10px">
                    <small>Asistentes</small>
                </p>
            </div>
        </div>
    </div>
    <!--cabecera tablas-->


    <!--tablas-->
    <div class="card-content" style="padding-top: 0px">
        <!--filtros-->
        <div id="filtroVenta" class="card-content navbar-fixed-top"
             style="
              position: sticky;
              top: 70px;
              background: white;
              z-index: 999;
              border-radius: 5px;
              box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);">

            <input type="text" ng-show="filtroVenta" class="form-control" placeholder="Buscar"
                   ng-keyup="filterEventsByText('venta')"
                   ng-model="filterVentaInput"
            />

            <input type="text" ng-show="filtroRrpp" class="form-control" placeholder="Buscar"
                   ng-keyup="filterEventsByText('rrpp')"
                   ng-model="filterRrppInput"
            />
            <input type="text" ng-show="filtroLista" class="form-control" placeholder="Buscar"
                   ng-keyup="filterEventsByText('lista')"
                   ng-model="filterListaInput"
            />

         <!--   <button ng-show="filtroRrpp"  data-ng-click="AgregarPersonas('noRRPP','noRRPP')" style="margin-top: 10px; margin-bottom: -10px"
                    class="btn btn-sm btn-success  ">BOLETERIA
            </button> -->

        </div>
        <!--filtros-->

        <!--contenidos tablas-->
        <div class="tab-content table-responsive">

            <!--tabla reservas-->
            <div class="tab-pane active" id="tabVentas">
                <table id="dtVentas" class="table table-hover">
                    <tbody>
                    <tr ng-repeat="ticketObtenido in ticketsObtenidos"
                        data-ng-click="cobrarServicio(ticketObtenido)">
                        <td>
                            {{ticketObtenido.firstName}} {{ticketObtenido.lastName}}
                            <p class="description">{{ticketObtenido.tipoEventservices}}</p>
                        </td>
                        <td class="text-right">
                            {{ticketObtenido.cantidadUtilizada}} / {{ticketObtenido.cantidadDeCompra}}
                        </td>
                        <td class="text-right">
                            <a ng-show="!ticketObtenido.paidOut">
                                ${{(ticketObtenido.totalAPagar/ticketObtenido.cantidadDeCompra)*(ticketObtenido.cantidadDeCompra-ticketObtenido.cantidadUtilizada)
                                | number:0}}
                            </a>
                            <a ng-show="ticketObtenido.paidOut">
                                Pagado
                            </a>
                            <p class="text-right" style="font-size: 12px;line-height: 10px;">
                                <small class="cagegory description">Saldo Pendiente</small>
                            </p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!--tabla reservas-->

            <!--tabla puerta-->
            <div class="tab-pane" id="tabPuerta">
                <table id="dtPuerta" class="table  table-hover" style="width: 100%!important;">
                    <tbody>
                    <tr ng-repeat="rrpp in rrpps">
                        <td ng-show="rrpp.name == 'izinait' " style=" color: #fe0072">{{rrpp.name}}</td>
                        <td ng-show="rrpp.name != 'izinait' " style="">{{rrpp.name}}</td>
                        <td class="text-primary">
                            <p ng-click="AgregarPersonas($index,rrpp)" class="btn btn-sm btn-info">
                                <i class="material-icons">add</i>
                            </p>
                        </td>
                        <td class="text-right">
                            {{rrpp.numeroTotal}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--tabla puerta-->

            <!--tabla lista-->
            <div class="tab-pane" id="tabListaGratis">
                <table class="table  table-hover">
                    <tbody>
                    <tr ng-repeat="user in listaGratis" data-ng-click="abrirListaGratis(user)">
                        <td>
                            {{user.displayName}}
                        </td>
                        <td class="text-right">
                            {{user.totalAsist}} / {{user.totalList}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--tabla lista-->
        </div>
        <!--contenidos tablas-->
    </div>
    <!--tablas-->
</div>
<!--contenido-->


<!--dialogo cobrar evento-->
<script id="dialogCobrarServicio" type="text/ng-template">
    <md-dialog aria-label="Confirmar Check In">
        <div class="content text-center">
            <img class="foto text-center" src="{{user.picture}}">
            <h5 style="font-weight: 900;font-style: italic;margin-bottom: 0px;">{{user.displayName}} </h5>
            <div>
                <div class="col-md-6 col-xs-6">
                    <span class="description"><i class="fa fa-address-card-o grey"></i></span>
                    <span>{{userEdad}} <small>Años</small></span>

                </div>
                <div class="col-md-6 col-xs-6">
                    <span><i ng-show="user.gender == 'male'" class="fa fa-mars description"><span class="txt-white"> Hombre</span></i>
                        <i ng-show="user.female == 'female'" class="fa fa-venus description"><span class="txt-white"> Mujer </span></i>
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
                <p style="font-size: 18px;">{{ingresosRestantes}} <span class="description">x</span>
                    {{ticketObtenido.tipoEventservices}}
                    <span class="description"> - $ </span>{{ingresosRestantes*precioIndividual | number:0}}</p>
                <span class="description col-md-12">Cobrados : <span class="txt-white">{{ticketObtenido.cantidadUtilizada}}</span></span>
            </div>
            <div class="col-md-12 col-xs-12 text-center zeroPadLados">
                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">

                        <div>
                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{entradasHombre}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Hombres</small>
                                </p>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirEntradasHombre(entradasHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentarEntradasHombre(entradasHombre,entradasMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>

                        </div>
                    </div>
                </div>


                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">

                        <div>
                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{entradasMujer}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Mujeres</small>
                                </p>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirEntradasMujer(entradasMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentarEntradasMujer(entradasHombre,entradasMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 txt-white" style="padding-top: 10px" data-ng-show="!ticketObtenido.paidOut">
                <div class="col-md-6 col-xs-6">
                    <md-checkbox class="dotted" ng-click="obtenerTipoDePago('tarjeta')" ng-disabled="efectivo"
                                 ng-model="tarjeta"
                                 aria-label="Checkbox 1">
                        Tarjeta
                    </md-checkbox>
                </div>
                <div dir="rtl" class="col-md-6 col-xs-6">
                    <md-checkbox class="dotted" ng-click="obtenerTipoDePago('efectivo')" ng-disabled="tarjeta"
                                 ng-model="efectivo"
                                 aria-label="Checkbox 1">
                        Efectivo
                    </md-checkbox>
                </div>

            </div>

            <div data-ng-show="ticketObtenido.paidOut">
                Ya ha sido cancelado.
            </div>
        </div>
        <span class="description" style="font-size: 18px;">Total : $ <span class="txt-white">{{(entradasMujer +entradasHombre)*precioIndividual | number:0}}</span></span>

        <div class="text-right col-xs-offset-1">
            <button data-ng-click="cancel()" class="btn btn-default btn-sm col-md-3  col-xs-3">
                <span class="btn-label">
                    <i class="material-icons">close</i>
                </span>

            </button>
            <button data-ng-click="guardarEntrada()" class="btn btn-success  btn-sm col-md-8 col-xs-8">
                <span class="btn-label">
                    <i class="material-icons">check</i>
                </span>
                Confirmar
            </button>

        </div>
    </md-dialog>

    <style>

        .foto {
            top: 0px;
            max-width: 130px;
            max-height: 130px;
            margin: -80px auto 0;
            height: 68%!important;
            border-radius: 50%;
            box-shadow: 0 10px 30px -12px rgba(254, 0, 114, 0.42), 0 4px 25px 0px rgba(254, 0, 114, 0.12), 0 8px 10px -5px rgba(254, 0, 114, 0.2);
        }

        .overflow {
            overflow: visible;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
            border-radius: 12px;
            padding: 0px 30px 30px 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background: #191919;
            color: #fff;
            text-align: center;
        }

        .zeroPadLados {
            padding-left: 0px;
            padding-right: 0px;
        }

        .padTopBot15 {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .presion {
            float: left;
            padding: 8px 0;
            height: 40px;
            display: block;
            border: 0;
            background: 0;
        }

        md-checkbox.dotted .md-icon {
            border-color: #fe0072;
        }
    </style>

</script>
<!--dialogo cobrar evento-->

<!--dialogo agregar Persona-->
<script id="dialogAgregarPersonas" type="text/ng-template">
    <md-dialog aria-label="Confirmar Check In" width>
        <div class="text-center">
            <div>
                <h5 style="font-weight: 900;font-style: italic;margin-bottom: 0px;">{{rrppSelectElejido.name}}</h5>
            </div>
            <div class="text-center col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <span>Gratis</span>
                </div>

                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">

                        <div>

                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{gratisHombre}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Hombres</small>
                                </p>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirgratisHombre(gratisHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentargratisHombre(gratisHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">

                        <div>

                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-venus description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{gratisMujer}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Mujeres</small>
                                </p>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirgratisgratisMujer(gratisMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentargratisMujer(gratisMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <span>Extra</span>
                </div>
                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">
                        <div>
                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{extraHombre}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Hombres</small>
                                </p>
                                <div class="input-group"><span class="input-group-addon txt-white text-left"
                                                               style="font-size: 22px;padding-left: 0px;padding-right: 0px;">
                                        $
                                    </span>
                                    <input type="number" style="font-size: 22px"
                                           class="form-control text-right txt-white"
                                           placeholder="Valor"
                                           ng-model="valorExtraHombre"/>
                                </div>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirExtraHombre(extraHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentarExtraHombre(extraHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">
                        <div>
                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-venus description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{extraMujer}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Mujeres</small>
                                </p>
                                <div class="input-group"><span class="input-group-addon txt-white text-left"
                                                               style="font-size: 22px;padding-right: 0px;padding-left: 0px;">
                                        $
                                    </span>
                                    <input type="number" style="font-size: 22px"
                                           class="form-control text-right txt-white"
                                           placeholder="Valor"
                                           ng-model="valorExtraMujer"/>
                                </div>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirExtraMujer(extraMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentarExtraMujer(extraMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <span>V.I.P</span>
                </div>
                <div style="float: left;padding: 0 10px;width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">
                        <div>
                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{vipHombre}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Hombres</small>
                                </p>
                                <div class="input-group"><span class="input-group-addon txt-white text-left"
                                                               style="font-size: 22px;padding-right: 0px;padding-left: 0px;">
                                        $
                                    </span>
                                    <input type="number" style="font-size: 22px"
                                           class="form-control text-right txt-white"
                                           placeholder="Valor"
                                           ng-model="valorVipHombre"/>
                                </div>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirVipHombre(vipHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentarVipHombre(vipHombre)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                </div>

                <div style="float: left;padding: 0 10px; width: 50%">
                    <div style="position: relative;border: 1px solid #fe0072;;border-radius: 6px;overflow: hidden;margin: 10px 0;color: #fff;padding: 6px 12px;">
                        <div>
                            <div>
                                <P style="margin-bottom: -10px;">
                                    <i class="fa fa-venus description" style="font-size: 18px; margin: 10px;"></i>
                                    <span style="font-size: 22px;">{{vipMujer}}</span>
                                <p class="description" style="margin-top: -10px;margin-bottom: 0px;">
                                    <small>Mujeres</small>
                                </p>
                                <div class="input-group"><span class="input-group-addon txt-white text-left"
                                                               style="font-size: 22px;padding-right: 0px;padding-left: 0px;">
                                        $
                                    </span>
                                    <input type="number" style="font-size: 22px"
                                           class="form-control text-right txt-white"
                                           placeholder="Valor"
                                           ng-model="valorVipMujer"/>
                                </div>
                            </div>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="disminuirVipMujer(vipMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">remove_circle_outline</i>
                            </button>
                            <button class="presion col-md-6 col-xs-6">
                                <i ng-click="aumentarVipMujer(vipMujer)"
                                   class="text-info material-icons"
                                   style="vertical-align: middle; font-size: 30px;">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-right col-xs-offset-1">
                    <button data-ng-click="cancel()" class="btn btn-default btn-sm col-md-3  col-xs-3">
                        <span class="btn-label">
                            <i class="material-icons">close</i>
                        </span>
                    </button>
                    <button data-ng-click="guardar()" class="btn btn-success  btn-sm col-md-8 col-xs-8">
                        <span class="btn-label">
                            <i class="material-icons">check</i>
                        </span>
                        Confirmar
                    </button>

                </div>
            </div>
        </div>
    </md-dialog>

    <style>
        .cuadroRRPP {

            background: #191919;
            color: #fff;
            text-align: center;
            max-width: 90%;
            max-height: 95%;
            height: auto!important;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
            border-radius: 12px;
        }

        .icono {
            font-size: 18px;
            margin: 10px;
        }

        .presion {
            float: left;
            padding: 8px 0;
            height: 40px;
            display: block;
            border: 0;
            background: 0;
        }
    </style>

</script>
<!--dialogo agregar Persona-->

<!--dialogo lista gratis-->
<script id="dialogAbrirListaGratis" type="text/ng-template">


    <md-dialog aria-label="Confirmar Check In">
        <div class="content text-center">
            <img class="foto text-center" src="{{user.picture}}">
            <h5 style="font-weight: 900;font-style: italic;margin-bottom: 0px;">{{user.displayName}} </h5>
            <div>
                <div class="col-md-6 col-xs-6">
                    <span class="description"><i class="fa fa-address-card-o grey"></i></span>
                    <span>{{userEdad}} <small>Años</small></span>

                </div>
                <div class="col-md-6 col-xs-6">
                    <span><i ng-show="user.gender == 'male'" class="fa fa-mars description"><span class="txt-white"> Hombre</span></i><i
                            ng-show="user.female == 'female'" class="fa fa-venus description"><span class="txt-white"> Mujer </span></i>
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
                <p style="font-size: 18px;">{{userCapturado.totalAsist}}<span class="description">/</span>{{userCapturado.totalList}}
                </p>
                <p ng-show="userCapturado.tipo == vipMesa"> Cortecia Vip Mesa</p>
                <p ng-show="userCapturado.tipo == general"> Cortecia General
                </p>
                <p ng-show="userCapturado.tipo == vip">Cortecia Vip</p>
            </div>


            <div class="col-md-12 col-xs-12 text-center zeroPadLados">

                <div class="col-md-6 col-xs-6 zeroPadLados">
                    <div style="border: 1px solid #fe0072; border-radius: 6px;margin-right: 5px;margin-left: 5px;">


                        <div class=" zeroPadLados padTopBot15">

                            <button data-ng-click="aumentarEntradasHombre(entradasHombre,entradasMujer)" type="button"
                                    class="btn btn-info  btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <P style="margin-bottom: -10px;">
                                <i class="fa fa-mars description" style="font-size: 18px; margin: 10px;"></i>
                                <span style="font-size: 22px;">{{entradasHombre}}</span>
                            <p class="description" style="margin-top: -10px;">
                                <small>Hombres</small>
                            </p>
                            </P>
                            <button data-ng-click="disminuirEntradasHombre(entradasHombre)" type="button"
                                    class="btn btn-info btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-xs-6 zeroPadLados">
                    <div style="border: 1px solid #fe0072; border-radius: 6px;margin-right: 5px;margin-left: 5px;">


                        <div class="zeroPadLados padTopBot15">

                            <button data-ng-click="aumentarEntradasMujer(entradasHombre,entradasMujer)" type="button"
                                    class="btn btn-info btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <P style="margin-bottom: -10px;">
                                <i class="fa fa-venus description" style="font-size: 18px; margin: 10px;"></i>
                                <span style="font-size: 22px;">{{entradasMujer}}</span>
                            <p class="description" style="margin-top: -10px;">
                                <small>Mujeres</small>
                            </p>
                            </P>
                            <button data-ng-click="disminuirEntradasMujer(entradasMujer)" type="button"
                                    class="btn btn-info btn-round btn-fab btn-fab-mini">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 txt-white" style="padding-top: 10px" data-ng-show="!ticketObtenido.paidOut">
                <span class="description" style="font-size: 18px;">Gratis Hasta: {{fechaFin | date : 'HH:mm a'}} <span class="txt-white">{{(entradasMujer +entradasHombre)*precioIndividual | number:0}}</span></span>

            </div>

            <div class="text-right col-xs-offset-1">
                <button data-ng-click="cancel()" class="btn btn-default btn-sm col-md-3  col-xs-3">
                <span class="btn-label">
                    <i class="material-icons">close</i>
                </span>

                </button>
                <button data-ng-click="guardarEntrada()" class="btn btn-success  btn-sm col-md-8 col-xs-8">
                <span class="btn-label">
                    <i class="material-icons">check</i>
                </span>
                    Confirmar
                </button>

            </div>
        </div>

    </md-dialog>

    <style>

        .foto {
            top: 0px;
            max-width: 130px;
            max-height: 130px;
            margin: -80px auto 0;
            border-radius: 50%;
            box-shadow: 0 10px 30px -12px rgba(254, 0, 114, 0.42), 0 4px 25px 0px rgba(254, 0, 114, 0.12), 0 8px 10px -5px rgba(254, 0, 114, 0.2);
        }

        .overflow {
            overflow: visible;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
            border-radius: 12px;
            padding: 0px 30px 30px 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background: #191919;
            color: #fff;
            text-align: center;
        }

        .zeroPadLados {
            padding-left: 0px;
            padding-right: 0px;
        }

        .padTopBot15 {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        md-checkbox.dotted .md-icon {
            border-color: #fe0072;
        }
    </style>

</script>
<!--dialogo lista gratis-->

<!--boton leer qr reservas-->
<div id="botonQR" style="float: right;position: sticky;bottom: 30px;right: 20px;">
    <button id="codemodalshow" data-ng-click="abrirLectorQr()" class="btn btn-rose btn-round relative text-center"
            style="width: 60px;padding: 0px;height: 60px;">
        <i class="material-icons text-center txt-white" style="font-size: 40px;">fullscreen</i>
    </button>
</div>


