<!--<a class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;3-col-phone
      mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="#!/eventos">
  <i  class="material-icons " style="vertical-align: middle;">keyboard_backspace</i> VOLVER
</a>
</center>-->


<div class="main-raised" style="margin-left: 0px;margin-right: 0px;">

    <img
            style="max-height: 450px;
             transform: perspective(1350px);
             border-radius: 5px;
             box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
         display: block;
         width: 100% !important;"
            class="height-auto full-width"

            src="{{event.image}}">

</div>


<title ng-bind="ngMeta.title"></title>

<!-- Arbitrary tags -->
<meta property="og:type" content="{{ngMeta['og:type']}}"/>
<meta property="og:locale" content="{{ngMeta['og:locale']}}"/>
<meta name="author" content="{{ngMeta['author']}}"/>
<!-- OR <meta name="author" content="{{ngMeta.author}}" /> -->
<meta name="description" content="{{ngMeta.description}}"/>


<button id="BarraCargando" class="btn btn-info btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> CARGANDO EVENTO
</button>


<div id="detalleEvento" style="display: none">


    <div id="contact-buttons-bar" class="contact-buttons-bar.slide-on-scroll" data-top="120px" style="left: 0px;">


        <a href="" ng-click="shareButtonFacebook()"
           class="contact-button-link cb-ancor facebook" title="comparte en Facebook" target="_blank">
                <span class="fa fa-facebook">
                </span>
        </a>

        <a href="" ng-click="shareButtonTw()"
           class="contact-button-link cb-ancor twitter" title="Comparte en Twitter" target="_blank">
            <span class="fa fa-twitter"></span>
        </a>

        <a href="" ng-show="onCellphone == true" ng-click="shareButtonWhatsapp()" data-action="share/whatsapp/share"
           class="contact-button-link cb-ancor whatsapp" title="Comparte con WhatsApp">
                <span class="fa fa-whatsapp">
                </span>
        </a>
    </div>


    <center>


        <div class=" date111 mdl-color-text--white mdl-cell "
             style="color: white; margin-top: -25px; z-index: 3000!important;">


            <font size="4" class="nombreEvento "> {{event.date | date : 'fullDate'}} </font>
            <br>
            <!-- <i class="material-icons mdl-color-text--grey" style="vertical-align: middle;">alarm</i> -->
            <font size="2" class="nombreEvento "> {{event.fromHour | date : 'shortTime'}} A {{event.toHour | date :
                'shortTime'}} </font>


        </div>

        <br>
        <br>

        <div style="color: #340034">
            <font size="5"><strong>{{event.name}} </strong></font>
            <br>
            <p style="font-size: 20px;" class="teststyle"><i class="material-icons testico">location_on</i>
                {{getClub(event.clubs)}}</p>
            <br>

            <br>
            <p style="font-size: 20px; vertical-align: middle" class="teststyle"><i class="fa fa-money"
                                                                                    style="font-size: 28px"
                                                                                    aria-hidden="true"></i>
                Valor en Puerta: CPL <strong>$ {{event.entryValue | number:0}}</strong>
            </p>


        </div>

        <br>
        <hr class="hrStyle">
        <br>


        <div ng-show="event.freemiumHour != event.date"
             style="color: #340034"
             class=" teststyle">
            <p style="font-size: 22px;" class="teststyle">
                <img src="image/guest-list.png"/>
                <br>
                <br>
                <span>Lista gratis hasta : </span><span style="font-weight: 400">{{event.freemiumHour | date : 'shortTime'}}</span>
            </p>

            <br>
            <br>
            <div id="selectLista" ng-show="event.freemiumHour != event.date" class="col-md-6 col-md-offset-3">
                <span style="margin-top: 25px; font-size: 20px;" class="col-md-6 col-xs-12"><bolder>Confirmar lista + Amigos: </bolder></span>
                <md-select ng-model="totalReserva" placeholder="Seleccionar" class="col-xs-12 col-md-6"
                           style="font-size: 20px">
                    <md-option ng-value="1">+1 Amigos</md-option>
                    <md-option ng-value="2">+2 Amigos</md-option>
                    <md-option ng-value="3">+3 Amigos</md-option>
                    <md-option ng-value="4">+4 Amigos</md-option>
                    <md-option ng-value="5">+5 Amigos</md-option>
                    <md-option ng-value="6">+6 Amigos</md-option>
                    <md-option ng-value="7">+7 Amigos</md-option>
                    <md-option ng-value="8">+8 Amigos</md-option>
                    <md-option ng-value="9">+9 Amigos</md-option>
                    <md-option ng-value="10">+10 Amigos</md-option>
                </md-select>
            </div>
            <div class="col-md-12">
                <button id="botonAsistir" ng-click="guardarListaGratis()"
                        scope="public_profile email user_birthday"
                        ng-show="totalReserva != null"
                        class="btn btn-info">
                    Enviar Lista
                </button>

                <button id="botonLista" ng-click="editarListaGratis()" style="display: none"
                        class="btn btn-info">
                    <i class="material-icons testico">edit</i>
                    Ya Estas en Lista + {{datosAsistire.totalList}}
                </button>

            </div>
            <br>
        </div>


        <br>
        <hr class="hrStyle">
        <br>


        <div class="serviciosEvent  col-md-12">
            <h3 class="info-title" style="color: #340034">Precio Anticipado</h3>
            <br>
            <div>
                <div class="col-md-10 col-md-offset-1 col-xs-12" ng-repeat="eventsService in allEventsService"
                     ng-show="eventsService.visible">
                    <div class="card1 card1-stats">
                        <div class="card1-header " data-background-color="white">
                            <i ng-show="eventsService.tipo == 'Mesa'"
                               class=" material-icons ">local_play</i>
                            <i ng-show="eventsService.tipo == 'Preventa'"
                               class="fa fa-ticket "></i>
                            <i ng-show="eventsService.tipo == 'Vip'"
                               class="fa fa-diamond"></i>
                            <i ng-show="eventsService.tipo == 'Especial'"
                               class=" material-icons ">stars</i>
                            <i ng-show="eventsService.tipo == 'Botella'"
                               class="fa fa-glass"></i>
                        </div>

                        <div class="card1-content">
                            <h4 style="color: #340034!important;font-weight: 400;"> {{eventsService.tipo}} </h4>
                            <small class="category" style="font-weight: 400;">{{eventsService.desc}}</small>
                            <h3 class="title"><span style="color: #999999">$ </span>{{eventsService.precio | number:0}}
                            </h3>

                        </div>
                        <div class="card1-footer">
                            <div class="stats">
                                <a class="btn btn-info"
                                   data-ng-show="eventsService.cantidad > eventsService.totalComprados"
                                   ng-click="dialogAdquirirServicio(eventsService)">Comprar</a>
                                <a class="btn btn-default"
                                   data-ng-show="eventsService.cantidad <= eventsService.totalComprados">AGOTADO!</a>
                                <small class="col-md-12 col-xs-12" style="margin-top: -10px;">FIN DE VENTA:</small>
                                <span class="col-md-12 col-xs-12" style="margin-top: -10px;">{{ eventsService.fechaFin |date : 'dd MMM HH:mm a'}}</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <br>
        <hr class="hrStyle">
        <br>

        <div>
            <h3 class="info-title" style="color: #340034">Line Up</h3>
            <br>
            <h5>{{event.djs}}</h5>
        </div>
        <br>
        <div class="features row">

            <div class="text-center col-md-10 col-md-offset-1 col-xs-12">
                <div class="col-md-3 col-xs-6">
                    <div class="info">
                        <div class="icon " style="color: #fe0072">
                            <i class="material-icons">music_note</i>
                        </div>
                        <p> Estilo Musical</p>
                        <p style="font-size: 18px; color: #340034" class="teststyle">
                            {{event.musicGenres}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="info">
                        <div class="icon " style="color: #fe0072">
                            <i class="material-icons">layers</i>
                        </div>
                        <p>Ambientes</p>
                        <p style="font-size: 18px; color: #340034" class="teststyle">
                            {{event.eventEnvironment}}

                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="info">
                        <div class="icon" style="color: #fe0072 ">
                            <i class="material-icons ">accessibility</i>
                        </div>
                        <p>Vestimenta</p>
                        <p style="font-size: 18px; color: #340034" class="teststyle">
                            {{event.clothing}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="info">
                        <div class="icon " style="color: #fe0072">
                            <i class="material-icons">people</i>
                        </div>
                        <p>
                            Restricciones
                        </p>
                        <p style="font-size: 18px; color: #340034" class="teststyle">
                            <small>Hombres</small>
                            <span style="font-weight: 400">+{{event.ageRangeMale}}</span> <br>
                            <small>Mujeres</small>
                            <span style="font-weight: 400">+{{event.ageRangeFemale}}</span>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <br>
        <hr class="hrStyle">
        <br>
        <div class="col-md-12">

            <h3 class="info-title" style="color: #340034">Descripción</h3>
            <br>
            <p style="font-size: 15px;" class="teststyle">
                {{event.eventDetails}}
            </p>
            <br>

            <ng-map zoom="14" style="border-radius: 5px"
                    disable-default-u-i="true"
                    scrollwheel="false"
                    default-style="true"
                    center="[{{event.lat}}, {{event.lng}}]">
                <marker
                        id="foo"
                        centered="true"
                        animation="Animation.BOUNCE"
                        title="{{getClub(event.clubs)}}"
                        on-click="map.showInfoWindow('bar')"
                        position="{{event.lat}},{{event.lng}}">
                </marker>
                <info-window id="bar" visible-on-marker="foo">
                    <a href="https://www.google.com/maps/place/{{event.lat}},{{event.lng}}" target="_blank">
                        <h6 style="color: #340034">{{getDireccionClub(event.clubs)}}<br>{{getClub(event.clubs)}}</h6>
                    </a>
                </info-window>
            </ng-map>
            <div class="mdl-cell mdl-color--white  mdl-cell--10-col mdl-cell--12-col-phone">
                #El club se reserva el derecho de admisión#
            </div>


        </div>


    </center>


</div>

<script type="text/ng-template" id="dialogAccederConFacebook" class="col-xs-12">

    <div class="text-center" style="margin: 30px">

            <span class="nombreEvento">Para continuar tu compra necesitamos algunos datos y la manera más rápida de obtenerlos es desde facebook.
            </span>
        <br>
        <button ng-click="IngresarConFacebook()" style="background-color: #3b5998;"
                scope="public_profile email user_birthday"
                class="btn btn-social btn-fill btn-facebook">
            <i class="fa fa-facebook-square"></i> Continuar con Facebook
        </button>
    </div>


</script>
<script>
    function myFunction() {
        document.getElementById("fondoheader").setAttribute('background-image_src', "'{{event.image}}'");
    }
</script>

<script id="dialogAdquirirServicio" type="text/ng-template" >
    <div class="card text-center " id="panelPrincipal" style="color:#340034 ">
        <div class="col-md-6 col-xs-12 ">
            <h2 class="title">
                <i ng-show="eventsService.tipo == 'Mesa'"
                   class=" material-icons ">local_play</i>
                <i ng-show="eventsService.tipo == 'Preventa'"
                   class="fa fa-ticket "></i>
                <i ng-show="eventsService.tipo == 'Vip'"
                   class="fa fa-diamond"></i>
                <i ng-show="eventsService.tipo == 'Especial'"
                   class=" material-icons ">stars</i>
                <i ng-show="eventsService.tipo == 'Botella'"
                   class="fa fa-glass"></i>
                {{eventsService.tipo}}
            </h2>

            <h4 class="description">{{eventsService.desc}}</h4>
            <h3 style="font-weight: 400">$ {{cantidadDeCompra*eventsService.precio | number:0}}</h3>

            <div class="col-md-6 col-md-offset-3">
                <span style="margin-top: 25px; font-size: 20px;" class="col-md-6 col-xs-12">Cantidad</span>
                <md-select aria-label="aria-label" class="col-md-6 col-xs-12 text-center" name="ticketQty"
                           ng-model="cantidadDeCompra">
                    <md-option ng-selected="entrada.id == 1" ng-repeat="entrada in maxEntradas track by entrada.id"
                               ng-value="entrada.id">
                        {{entrada.name}}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 leftspan">
            <h2 class="title text-center">Método de pago</h2>
            <div class="col-md-12 col-xs-12">
                <button class="btn btn-primary btn-sm col-md-6 text-center"
                        ng-show="userQvoRQ.creditCardDefault == undefined"> AGREGAR TARJETA DE CREDITO
                </button>
            </div>

            <md-radio-group class="col-md-12 col-xs-12text-center" ng-model="metodoDePagoSelect">

                <md-radio-button class="col-md-12 col-xs-12" ng-show="userQvoRQ.creditCardDefault" value="oneClick">
                    OneClick<br>
                    <img src="./image/contenido_productos_webpay_oneclick.jpg" height="70"/>

                </md-radio-button>

                <md-radio-button class="col-md-12  col-xs-12" ng-show="userQvoRQ.userQvoId" value="webPayPlus">
                    WebPay Plus<br>
                    <img src="./image/webpay.png" height="70"/>
                </md-radio-button>
            </md-radio-group>


        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group label-floating col-md-7 col-xs-12">
                <i class="material-icons col-md-2 col-xs-2" style="margin-top: 5px">email</i>
                <div class="col-md-10 col-xs-10">
                    <input type="text" class="form-control" placeholder="Ingresa Email" ng-model="email"/>
                    <span class="form-control-feedback"><i class="material-icons">done</i></span>
                </div>
            </div>

            <div class="form-group label-floating  col-md-5 col-xs-12">
                <i class="material-icons col-md-2 col-xs-2" style="margin-top: 5px">call</i>

                <div class="col-md-10 col-xs-10">
                    <input type="number" class="form-control" placeholder="Ingresa Celular" ng-model="celular"/>
                    <span class="form-control-feedback">
			        <i class="material-icons">done</i>
		            </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-md-offset-3">
            <button ng-click="hide()" class="btn  btn-sm">Cancelar</button>
            <button ng-click="adquirir(cantidadDeCompra,celular,metodoDePagoSelect)" class="btn btn-info btn-sm ">
                Confirmar
            </button>
        </div>

    </div>


    <div id="panelDireccionando" class="col-md-12" style="display: none">
        <center>
            <div class="col-md-12">
                <div class="info">
                    <div class="icon icon-success">
                        <i class="material-icons">verified_user</i>
                    </div>
                    <h4 class="info-title">Redireccionando a pagina segura. no cierre el navegador porfavor.</h4>

                    <md-progress-circular class=" md-hue-1" md-diameter="50"></md-progress-circular>


                </div>
            </div>
        </center>
    </div>


</script>









