<!--<a class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;3-col-phone
      mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="#!/eventos">
  <i  class="material-icons " style="vertical-align: middle;">keyboard_backspace</i> VOLVER
</a>
</center>-->


<button id="BarraCargando" class="btn btn-info btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> CARGANDO EVENTO
</button>


<div id="detalleEvento" style="display: none">


    <img height="auto"
         style=" box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);   display: block;    width: 100% !important;"
         class="height-auto full-width"
         src="{{event.image}}">


    <div id="contact-buttons-bar" class="contact-buttons-bar.slide-on-scroll" data-top="120px" style="left: 0px;">


        <a href="" ng-click="shareButtonFacebook()"
           class="contact-button-link cb-ancor facebook" title="comparte en Facebook" target="_blank">
                <span class="fa fa-facebook">
                </span>
        </a>

        <a href="" ng-click="shareButtonTw()"
           class="contact-button-link cb-ancor twitter" title="Comparte en Twitter" target="_blank">
            <span class="fa fa-twitter"></span>
        </a>

        <a href="" ng-show="onCellphone == true" ng-click="shareButtonWhatsapp()" data-action="share/whatsapp/share"
           class="contact-button-link cb-ancor whatsapp" title="Comparte con WhatsApp">
                <span class="fa fa-whatsapp">
                </span>
        </a>
    </div>


    <center>

        <div class="mdl-color-text--white mdl-cell "
             style="color: white; margin-top: -25px; z-index: auto!important;">


            <font size="4" class="nombreEvento "> {{event.date | date : 'fullDate'}} </font>
            <br>
            <!-- <i class="material-icons mdl-color-text--grey" style="vertical-align: middle;">alarm</i> -->
            <font size="2" class="nombreEvento "> {{event.fromHour | date : 'shortTime'}} A {{event.toHour | date :
                'shortTime'}} </font>


        </div>

        <br>
        <br>

        <div style="color: #340034">
            <font size="5"><strong>{{event.name}} </strong></font>
            <br>
            <p style="font-size: 20px;" class="teststyle"><i class="material-icons testico">location_on</i>
                {{getClub(event.clubs)}}</p>
            <br>

            <br>
            <p style="font-size: 20px;" class="teststyle"><i class="material-icons testico">monetization_on</i>
                Valor en Puerta:CPL <strong>{{event.entryValue}}</strong>
            </p>


        </div>

        <br>
        <hr class="hrStyle">
        <br>


        <div ng-show="event.freemiumHour != event.date"
             style="color: #340034"
             class=" teststyle">
            <p style="font-size: 15px;" class="teststyle">
                <i class="material-icons testico">money_off</i>
                Gratis hasta : <strong>{{event.freemiumHour | date : 'shortTime'}}</strong>
            </p>
            <div id="selectLista" ng-show="event.freemiumHour != event.date">
                <span style="margin-top: 25px" class="title  col-xs-6">Ingresar lista + Amigos  :   </span>
                <md-select ng-model="totalReserva" placeholder="Selecionar" class=" col-xs-6 ">
                    <md-option ng-value="1">+1 Amigos</md-option>
                    <md-option ng-value="2">+2 Amigos</md-option>
                    <md-option ng-value="3">+3 Amigos</md-option>
                    <md-option ng-value="4">+4 Amigos</md-option>
                    <md-option ng-value="5">+5 Amigos</md-option>
                    <md-option ng-value="6">+6 Amigos</md-option>
                    <md-option ng-value="7">+7 Amigos</md-option>
                    <md-option ng-value="8">+8 Amigos</md-option>
                    <md-option ng-value="9">+9 Amigos</md-option>
                    <md-option ng-value="10">+10 Amigos</md-option>
                </md-select>
            </div>
            <div>
                <button id="botonAsistir" ng-click="guardarListaGratis()"
                        scope="public_profile email user_birthday"
                        ng-show="totalReserva != null"
                        class="btn btn-info btn-sm">
                    Enviar Lista
                </button>

                <button id="botonLista" ng-click="editarListaGratis()"
                        class="btn btn-info btn-sm">
                    <i class="material-icons testico">edit</i>
                    Ya Estas en Lista + {{datosAsistire.totalList}}
                </button>


            </div>

        </div>


        <br>
        <hr class="hrStyle">
        <br>


        <div class="serviciosEvent row col-md-12">
            <h3 class="info-title" style="color: #340034">Precio Antecipado</h3>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="eventsService in allEventsService">
                    <div class="card1 card1-stats">
                        <div class="card1-header" data-background-color="gray">
                            <i ng-show="eventsService.tipo == 'MESA'"
                               class=" material-icons ">local_play</i>
                            <i ng-show="eventsService.tipo == 'PREVENTA'"
                               class="fa fa-ticket "></i>
                            <i ng-show="eventsService.tipo == 'VIP'"
                               class=" material-icons ">star_half</i>
                            <i ng-show="eventsService.tipo == 'ESPECIAL'"
                               class=" material-icons ">stars</i>
                            <i ng-show="eventsService.tipo == 'BOTELLAS'"
                               class="fa fa-glass"></i>
                        </div>

                        <div class="card1-content">
                            <p class="category"> {{eventsService.tipo}} </p>
                            <h3 class="title">
                                <small> $</small>
                                {{eventsService.precio}}
                            </h3>
                            <p class="category">Fin de Venta : {{ eventsService.fechaFin |date : 'dd MMM'}}
                                <br>
                            <p class="category">{{ eventsService.fechaFin |date : 'HH:mm a'}}
                            </p>
                        </div>
                        <div class="card1-footer">
                            <div class="stats">
                                <a class="btn btn-info" ng-click="dialogAdquirirServicio(eventsService)"> Adquirir</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <br>
        <hr class="hrStyle">
        <br>

        <div>
            <h3 class="info-title" style="color: #340034">Line Up</h3>
            <br>
            <h5>{{event.djs}}</h5>
        </div>
        <br>
        <div class="features ">

            <center>
                <div class="text-center col-md-10 row col-md-offset-1 col-xs-12">
                    <div class="col-md-3 col-xs-6">
                        <div class="info">
                            <div class="icon " style="color: #fe0072">
                                <i class="material-icons">music_note</i>
                            </div>
                            <p> Estilo Musical</p>
                            <p style="font-size: 18px; color: #340034"class="teststyle">
                                {{event.musicGenres}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="info">
                            <div class="icon " style="color: #fe0072">
                                <i class="material-icons">layers</i>
                            </div>
                            <p>Ambientes</p>
                            <p style="font-size: 18px; color: #340034"class="teststyle">
                                {{event.eventEnvironment}}

                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="info">
                            <div class="icon" style="color: #fe0072 ">
                                <i class="material-icons " style="text-shadow: 1px 1px 5px 0 #fe0072;">accessibility</i>
                            </div>
                            <p>Vestimenta</p>
                            <p style="font-size: 18px; color: #340034"class="teststyle">
                                {{event.clothing}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="info">
                            <div class="icon " style="color: #fe0072">
                                <i class="material-icons">people</i>
                            </div>
                            <p>
                                Restricciones
                            </p>
                            <p style="font-size: 18px; color: #340034"class="teststyle">
                                {{event.ageRange}}
                            </p>
                        </div>
                    </div>
                </div>

            </center>

        </div>
        <br>
        <hr class="hrStyle">
        <br>
        <div class="col-md-12">

            <h3 class="info-title" style="color: #340034">Descripción</h3>
            <br>
            <p style="font-size: 15px;" class="teststyle">
                {{event.eventDetails}}
            </p>
            <br>

            <ng-map zoom="14"
                    disable-default-u-i="true"
                    scrollwheel="false"
                    default-style="true"
                    center="[{{event.lat}}, {{event.lng}}]">
                <marker
                        id="foo"
                        centered="true"
                        animation="Animation.BOUNCE"
                        title="{{getClub(event.clubs)}}"
                        on-click="map.showInfoWindow('bar')"
                        position="{{event.lat}},{{event.lng}}">
                </marker>
                <info-window id="bar" visible-on-marker="foo">
                    <a href="https://www.google.com/maps/place/{{event.lat}},{{event.lng}}" target="_blank">
                        <h6 style="color: #340034">{{getDireccionClub(event.clubs)}}<br>{{getClub(event.clubs)}}</h6>
                    </a>
                </info-window>
            </ng-map>
            <div class="mdl-cell mdl-color--white  mdl-cell--10-col mdl-cell--12-col-phone">
                #El club se reserva el derecho de admisión#
            </div>


        </div>


    </center>


</div>

<script type="text/ng-template" id="dialogAccederConFacebook" class="col-xs-12">

    <div class="col-md-10 col-lg-offset-1">
        <center>
            <button ng-click="IngresarConFacebook()" scope="public_profile email user_birthday"
                    class=" btn btn-info">
                <i class="material-icons"></i> OBTENEN TU CODIGO
            </button>
            <br>
            <font class="nombreEvento"> Con este codigo tendras acceso a tus eventos preferidos, tus reservas, tus
                compras de entradas y mas.
            </font>
        </center>
    </div>


</script>
<script>
    function myFunction() {
        document.getElementById("fondoheader").setAttribute('background-image_src', "'{{event.image}}'");
    }
</script>

<script id="dialogAdquirirServicio" type="text/ng-template">
    <div class="col-xs-12">

        <h6> Bienvenido {{usuarioLogeado.displayName}}</h6>
        <div class="text-center">
            <p class="description">
                {{eventsService.desc}}
            </p>
            <p class="btn btn-sm btn-info">
                $ {{eventsService.precio}}

            </p>
            <p class="description">
                {{ eventsService.fechaFin |date : 'hh:mm / dd MMMM yyyy '}}
            </p>
            <p class="description">
                Entradas Maximas {{eventsService.maxEntradas}}
            </p>

        </div>
        <br>
        <p class="description">¿Cantidad que deseas adquirir?</p>
        <md-select name="ticketQty" ng-model="cantidadDeCompra"
                   placeholder=" - ">
            <md-option
                    ng-repeat="entrada in maxEntradas track by entrada.id"
                    ng-value="entrada.id">
                {{entrada.name}}
            </md-option>
        </md-select>
        <center>
            <table class="text-center">
                <tr>
                    <th>
                        <p class="description"><i class="material-icons" style="vertical-align: middle;">call</i> +569
                        </p>
                    </th>
                    <th>
                        &nbsp;&nbsp;
                    </th>
                    <th>
                        <div style="margin-top: 1px" class="form-group label-floating " id="agregarCorrecto">
                            <input type="number" class="form-control" placeholder="Ingresa Celular" ng-model="celular"/>
                            <span class="form-control-feedback">
			<i class="material-icons">done</i>
		</span>
                        </div>
                    </th>
                </tr>
            </table>
        </center>

        <div class="text-right">
            <button ng-click="hide()" class="btn  btn-sm"> Cancelar</button>
            <button ng-click="adquirir(cantidadDeCompra,celular)" class="btn btn-info btn-sm "> Adquirir</button>
        </div>
    </div>


</script>







