<center>
<button id="BarraCargando" class="btn btn-info btn-lg">
  <i class="fa fa-circle-o-notch fa-spin"></i>
  CARGANDO CLUBS
</button>
</center>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 padd-0-xs inline-block float-fix"
       ng-repeat="club in clubs "
       ng-click="goToClubDetails(club)"
       ng-show="club.activo"
  >
    <div class="testcard">

        <img height="167" width="450" class="testimage" src="{{club.clubLogo}}">
        <!--  <i class="material-icons " style="vertical-align: middle;">event</i>   -->

        <div class="testcontenido">
            <p class=testh2"><strong>{{club.name}}</strong></p>

            <p class="teststyle"><i class="material-icons testico">music_note</i> {{club.clubMusic}}</p>
            <p class="teststyle"><i class="material-icons testico">layers</i> {{club.clubEnvironment}}</p>
        </div>

        <div class="testfooter">
            <p class="testboton btn ">Eventos</p>


        </div>






      </div>
    
    </div>
  </div>


</div>

